@charset "utf-8";

/* Variablen ------------------------------------ */
:root {
	/* Textfarben */
	--text: #212121;
	--textHell: #9e9e9e;
	--textSehrHell: #bebebe;
	--textExtremHell: #e5e5e5;
	--textFarbe: #32af79;
	--textWarnung: #d00;
	/* Hintergrund-Farben */
	--hintergrund: #f9f9f9;
	--hover: #f9f9f9;
	/* Farb-Elemente */
	--farbe: #72a0cf;
	--farbeB: #386ea6; /* Buttons */
	--farbeH: #386ea6; /* Überschriften */
	--farbeStern: #fd0;
	--aktiv: #32af79;
	--linie: #c3d9f1;
}

/* Fonts ---------------------------------------- */
@font-face {
	font-family: "DejaVu Sans";
	src: url(../fonts/DejaVuSans.woff2) format("woff2");
}

@font-face {
	font-family: "DejaVu Sans";
	src: url(../fonts/DejaVuSans-Oblique.woff2) format("woff2");
	font-style: italic;
}

@font-face {
	font-family: "DejaVu Sans";
	src: url(../fonts/DejaVuSans-Bold.woff2) format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "DejaVu Sans";
	src: url(../fonts/DejaVuSans-BoldOblique.woff2) format("woff2");
	font-style: italic;
	font-weight: bold;
}

/* Basale Elemente ------------------------------ */
body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text);
	font: 16px/24px "DejaVu Sans", sans-serif;
	user-select: none;
}

h2 {
	margin: 0;
	padding: 0 0 0 10px;
	background-color: var(--farbeH);
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

h2 span:first-child {
	margin-right: 5px;
}

h3 {
	margin: 20px 0 10px 0;
	color: var(--textFarbe);
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

h3:first-child {
	margin-top: 0;
}

.icon-h {
	display: inline-block;
	width: 24px;
	height: 28px;
	background-color: #fff;
	-webkit-mask-position: center;
	mask-position: center;
}

p {
	margin: 0 0 10px 0;
}

p.input-text {
	line-height: 30px;
}

body > section {
	position: relative;
	margin-top: 70px; /* 60 px = Höhe des fixierten <header> + 10px = padding */
	padding: 0 10px;
	transition: margin-top .5s ease;
}

body > section.quick {
	margin-top: 99px;
}

/* Links ---------------------------------------- */
a {
	outline: none;
	color: var(--textFarbe);
	text-decoration: none;
}

.icon-link {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: var(--text);
	text-decoration: none;
}

.icon-link:focus {
	background-color: var(--farbe);
}

.icon-stern {
	-webkit-mask-image: url(../img/stern.svg);
	mask-image: url(../img/stern.svg);
}

/* Formular-Elemente ---------------------------- */
input,
textarea {
	margin: 0;
	color: var(--text);
	font: 16px/24px "DejaVu Sans", sans-serif;
}

input[type="text"] {
	border: 1px solid var(--linie);
	padding: 2px 5px;
}

input[type="text"]:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

input[type="button"] {
	outline: none;
	margin: 0 0 0 15px;
	border: 0;
	border-radius: 3px;
	padding: 0 8px 0 33px;
	background: var(--farbeB) url(../img/button-check.svg) no-repeat 4px center;
	color: #fff;
}

input[type="button"]:focus {
	background-color: var(--farbe);
}

input[type="button"][value="Abbrechen"] {
	background-image: url(../img/button-cancel.svg);
}

input[type="button"][value="Ergänzen"] {
	background-image: url(../img/button-ergaenzen.svg);
}

input[type="button"][value="Löschen"] {
	background-image: url(../img/button-delete.svg);
}

input[type="button"][value="Nein"] {
	background-image: url(../img/button-no.svg);
}

input[type="button"][value="Speichern"] {
	background-image: url(../img/button-save.svg);
}

input[type="checkbox"] {
	position: relative;
	top: 2px;
	z-index: 1;
	box-sizing: content-box;
	margin: 0 7px 0 0;
	border: 1px solid var(--linie);
	padding: 0;
	width: 13px;
	height: 13px;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	font-size: 16px;
	line-height: 13px;
}

input[type="checkbox"]:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

input[type="checkbox"]:checked {
	border-color: var(--farbe);
}

input[type="checkbox"]:checked:focus {
	outline-color: var(--aktiv);
}

input[type="checkbox"]:checked:before {
	position: absolute;
	content: "✔";
	display: block;
	background-color: var(--farbe);
	color: #fff;
}

textarea {
	display: block;
	margin: 0;
	resize: vertical;
	border: 1px solid var(--linie);
	padding: 2px 5px;
	width: calc(100% - 12px);
}

textarea:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

/* Globale Klassen ------------------------------ */
.aus {
	display: none !important;
}

::placeholder {
	opacity: 1;
  color: var(--textSehrHell);
}

::selection {
	background-color: var(--farbe);
	color: #fff;
}
