@charset "utf-8";

/* TABELLE FÜR DAS FORMULAR */
#beleg table {
	margin: 25px auto;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	padding: 15px;
	width: calc(100% - 104px);
	min-width: 500px;
	max-width: 800px;
	background-color: var(--hintergrund);
}

#beleg caption {
	padding: 0 0 0 24px;
	caption-side: top;
	color: var(--textFarbe);
	font-weight: bold;
	text-align: left;
}

#beleg-geaendert {
	display: inline-block;
	margin-left: 5px;
}

#beleg th {
	position: relative;
	padding: 10px 5px 0 5px;
	width: calc(50% - 10px);
	color: var(--farbe);
	vertical-align: top;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

#beleg tr:first-child td {
	padding-bottom: 15px;
}

#beleg td {
	position: relative;
	padding: 0 5px;
	width: calc(50% - 10px);
	vertical-align: top;
}

#beleg td.check {
	vertical-align: bottom;
}

#beleg label {
	color: var(--farbe);
}

/* FORMULAR-ELEMENTE */
#beleg input[type="text"] {
	width: calc(100% - 12px);
}

#beleg textarea {
	width: calc(100% - 12px);
	height: 120px;
}

textarea#beleg-bs {
	height: 192px;
}

#beleg input[type="button"]:first-child {
	margin-left: 0;
}

#beleg-loeschen {
	position: absolute;
	right: 0;
}

/* TEXT-TOOLS */
#beleg-tools {
	position: absolute;
	right: 10px;
}

#beleg .copy-paste {
	display: none;
	margin-left: 10px;
}

#beleg .copy-paste-hover:hover .copy-paste {
	display: inline-block;
}

/* SPEZIELLE FORMATE */
#beleg .zelle-bewertung {
	text-align: right;
}
