@charset "utf-8";

/* Element ausschalten -------------------------- */
.aus {
	display: none !important;
}

/* Ziehen von Elementen ------------------------- */
*, *::after, *::before {
	-webkit-app-region: no-drag;
	-webkit-user-drag: none;
}

a[href^="http"],
a[href^="mailto"] {
	-webkit-app-region: drag;
	-webkit-user-drag: auto;
}

a[href^="#"] {
	user-select: none;
	cursor: default;
}

a[href^="http"]::after {
	content: url(../img/link.svg);
	padding-left: 3px;
}

footer a[href^="http"]::after {
	content: url(../img/link-weiss.svg);
}

/* Farbe Textauswahl ---------------------------- */
::selection,
/* in date und datetime-local funktioniert ::selection nicht */
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus {
	background-color: var(--farbe);
	color: #fff;
}

/* Placeholder in Inputs ------------------------ */
::placeholder {
  color: var(--textSehrHell);
	font-style: italic;
}
