@charset "utf-8";

/* ELEMENT AUSSCHALTEN -------------------------- */

.aus {
  display: none !important;
}


/* BIBTEX TYPOGRAPHISCH ------------------------- */

.bibtex {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  font-family: "Noto Serif", serif;
}

.bibtex span:first-child {
  font-variant: small-caps;
}

.bibtex span:nth-child(2) {
  position: relative;
  top: .2em;
}


/* EINGEFÄRBTE KLAMMERUNGEN IM BELEGTEXT -------- */

.klammer-technisch {
  font-weight: bold;
}

.klammer-autorenzusatz {
  color: var(--farbeGruenDunkel);
}

.klammer-loeschung {
  color: var(--farbeRot);
}

.klammer-streichung {
  color: var(--farbeB);
}

:is(.belegschnitt, .klammer-autorenzusatz, .klammer-streichung, .klammer-loeschung)::before {
  content: "<";
  margin-left: 2px;
  font-weight: bold;
  letter-spacing: 2px;
}

:is(.belegschnitt, .klammer-autorenzusatz, .klammer-streichung, .klammer-loeschung)::after {
  content: ">";
  padding-left: 2px;
  font-weight: bold;
  letter-spacing: 2px;
}

.klammer-autorenzusatz::before {
  content: "{";
}

.klammer-autorenzusatz::after {
  content: "}";
}

.klammer-loeschung::before {
  content: "[[";
}

.klammer-loeschung::after {
  content: "]]";
}

.klammer-streichung::before {
  content: "[";
}

.klammer-streichung::after {
  content: "]";
}


/* XML-PRETTY-PRINT ----------------------------- */

.xml-empty {
  color: var(--textWarnung);
  font-weight: bold;
}

.xml-err {
  text-decoration: var(--textWarnung) wavy underline;
}

.xml-comment {
  color: var(--textHell);
}

.xml-tag {
  color: var(--farbeB);
}

.xml-attr-key {
  color: var(--farbeGruenDunkel);
}

.xml-attr-val {
  color: var(--farbeRot);
}


/* ZIEHEN VON ELEMENTEN ------------------------- */

*, *::after, *::before {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

a[href^="http"],
a[href^="mailto"] {
  -webkit-app-region: drag;
  -webkit-user-drag: auto;
}

a[href^="#"] {
  user-select: none;
  cursor: default;
}

a[href^="http"]::after {
  content: url(../img/link-extern-gruen-12.svg);
  padding-left: 3px;
}

footer a[href^="http"]::after {
  content: url(../img/link-extern-weiss-12.svg);
}


/* FARBE TEXTAUSWAHL ---------------------------- */

::selection,
/* in date und datetime-local funktioniert ::selection nicht */
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-ampm-field:focus {
  background-color: var(--farbe);
  color: #fff;
}


/* PLACEHOLDER IN INPUTS ------------------------ */

::placeholder {
  color: var(--textSehrHell);
  font-style: italic;
}


/* FENSTERLADEN --------------------------------- */

#fensterladen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--farbeB);
  transition: opacity .5s ease;
}

#fensterladen.geladen {
  opacity: 0;
}


/* KOPF-ICONS ----------------------------------- */

#kopf-icons {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 25px;
  height: 28px;
  overflow: hidden;
  line-height: 24px;
}

#kopf-icons a {
  outline: none;
  display: inline-block;
  border-right: 1px solid var(--linie);
  padding: 2px 5px;
  width: 24px;
  height: 24px;
  color: #fff;
  text-decoration: none;
}

#kopf-icons a:last-child,
#kopf-icons a.last {
  border-right: 0;
}

#kopf-icons a svg path:not([fill]) {
  fill: currentcolor;
}

#kopf-icons a:focus {
  color: var(--highlight);
}
