@charset "utf-8";

/* ICON-LINKS ----------------------------------- */

.icon-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--text);
  text-decoration: none;
}

.icon-link:focus {
  background-color: var(--farbe);
}

.icon-bedeutung {
  mask-image: url(../img/bedeutung.svg);
}

.icon-auge {
  mask-image: url(../img/auge.svg);
}

.icon-auge-durchgestrichen {
  mask-image: url(../img/auge-durchgestrichen.svg);
}

.icon-einfuegen {
  mask-image: url(../img/einfuegen.svg);
}

.icon-entkoppeln {
  mask-image: url(../img/x-dick.svg);
}

.icon-exportieren {
  mask-image: url(../img/dokument-export.svg);
}

.icon-kopieren {
  mask-image: url(../img/kopieren.svg);
}

.icon-kreis-fragezeichen {
  mask-image: url(../img/kreis-fragezeichen.svg);
}

.icon-kreis-info {
  mask-image: url(../img/kreis-info.svg);
}

.icon-link-link {
  mask-image: url(../img/link.svg);
}

.icon-lupe {
  mask-image: url(../img/lupe.svg);
}

.icon-muelleimer {
  mask-image: url(../img/muelleimer.svg);
}

.icon-oeffnen {
  mask-image: url(../img/oeffnen.svg);
}

.icon-pfeil-gerade-hoch {
  mask-image: url(../img/pfeil-gerade-hoch.svg);
}

.icon-pfeil-gerade-links {
  mask-image: url(../img/pfeil-gerade-links.svg);
}

.icon-pfeil-gerade-rechts {
  mask-image: url(../img/pfeil-gerade-rechts.svg);
}

.icon-pfeil-gerade-runter {
  mask-image: url(../img/pfeil-gerade-runter.svg);
}

.icon-pfeil-kreis {
  mask-image: url(../img/pfeil-kreis.svg);
}

.icon-plus-dick {
  mask-image: url(../img/plus-dick.svg);
}

.icon-speichern {
  mask-image: url(../img/speichern.svg);
}

.icon-speichern-unter {
  mask-image: url(../img/speichern-unter.svg);
}

.icon-stift {
  mask-image: url(../img/stift.svg);
}

.icon-stern {
  mask-image: url(../img/stern.svg);
}

.icon-datum,
.icon-uhr {
  mask-image: url(../img/uhr.svg);
}

.icon-x-dick {
  mask-image: url(../img/x-dick.svg);
}

.icon-xml {
  mask-image: url(../img/xml.svg);
}
