@charset "utf-8";

/* KOPF ALLGEMEIN */
body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
}

body > header h1,
body > header span {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

/* WORT */
#wort {
	cursor: pointer;
}

#wort.keine-kartei {
	font-size: 20px;
	font-style: italic;
}

#kartei-geaendert {
	visibility: hidden;
	margin-left: 10px;
}

#kartei-geaendert.geaendert {
	visibility: visible;
}

#notizen-icon img {
	position: relative;
	bottom: 18px;
	vertical-align: bottom;
	margin-left: 50px;
	cursor: pointer;
}

/* ICON */
#icon {
	position: absolute;
	top: 6px;
	right: 10px;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
