@charset "utf-8";

/* KEYFRAMES (für Animation "Ein- bzw. Ausblenden der Filterliste") */
@keyframes liste-re {
	0% {
		transform: translateX(-310px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes liste-li {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-310px);
	}
}

/* LISTENSEKTION */
#liste {
	display: grid;
	grid-template-columns: 300px calc(100% - 300px - 10px); /* Minus Breite Filterleiste und Gap */
	grid-gap: 10px;
	margin-top: 60px; /* 10px weniger als in anderen <section>, wird hier als padding-top gesetzt */
	width: calc(100% - 20px);
	animation-name: liste-re;
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	transition: width .5s ease;
}

#liste.filter-aus {
	width: calc(100% + 310px - 20px);
	animation-name: liste-li;
}

#liste.preload { /* damit beim ersten Anzeigen der Liste keine Animation läuft */
	animation-duration: 0s;
}

/* FILTERLEISTE */
#liste-filter {
	position: sticky;
	top: 60px;
	padding-top: 10px;
	width: 300px;
}

#liste-filter p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#liste-filter label {
	color: var(--Farbe);
}

/* BELEGLISTE: HEADER */
#liste-belege {
	position: relative;
}

#liste-belege header {
	position: sticky;
	top: 60px;
	z-index: 1;
	border-bottom: 1px solid var(--Linie);
	padding: 10px 5px 2px 8px;
	width: calc(100% - 13px); /* 13px padding */
	height: 24px;
	overflow: hidden;
	background-color: #fff;
	white-space: nowrap;
}

#liste-belege header a {
	margin-left: 5px;
}

#liste-belege .liste-link-text {
	display: inline-block;
	margin-left: 10px;
	color: var(--Text);
}

#liste-belege .liste-link-text:focus {
	color: var(--Farbe);
	text-decoration: none;
}

#liste-belege .liste-link-text:hover {
	text-decoration: none;
}

#liste-belege .liste-link-text-strike {
	position: relative;
	padding: 0 3px 0 2px;
}

#liste-belege .liste-link-text-strike:before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  right: 0;
  border-top: 3px solid var(--FarbeRot);
}

#liste-link-hervorheben {
	display: inline-block;
	width: 45px;
}

#liste-belege .link-aktiv {
	font-weight: bold;
}

#liste-belege .start-block {
	margin-left: 25px;
}

#liste-belege-anzahl {
	position: absolute;
	right: 0;
	padding: 0 5px 0 25px;
	background-color: #fff;
}

#liste-belege-anzahl.belege-gefiltert {
	font-weight: bold;
}

/* BELEGLISTE: CONTENT */
#liste-belege-cont {
	margin: 0 0 25px 0;
}

#liste-belege-cont .liste-kopf {
	border-bottom: 1px solid var(--Linie);
	border-left: 3px solid var(--Farbe);
	padding: 2px 10px;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--Hintergrund);
	cursor: pointer;
}

#liste-belege-cont a,
#liste-belege-cont span {
	display: inline-block;
}

#liste-belege-cont .liste-bearbeiten {
	margin-right: 15px;
}

#liste-belege-cont .liste-jahr {
	margin-right: 15px;
	font-style: italic;
}

#liste-belege-cont .liste-jahr-hinweis:after {
	content: "*";
	position: relative;
	left: 3px;
	color: var(--FarbeRot);
}

#liste-belege-cont .liste-schnitt {
	border-bottom: 1px solid var(--Linie);
	border-left: 3px solid var(--Farbe);
	padding: 10px 10px 0 49px;
	height: auto;
	background-color: transparent;
	user-select: text;
}

#liste-belege-cont .liste-schnitt p {
	max-width: 600px;
}

#liste-belege-cont .liste-zeitschnitt,
#liste-belege-cont .liste-keine-belege,
#liste-belege-cont .liste-kartei-leer {
	border-bottom: 1px solid var(--Linie);
	padding: 10px;
	background-color: transparent;
	color: var(--Farbe);
	font-style: italic;
	text-align: center;
}

#liste-belege-cont .liste-keine-belege,
#liste-belege-cont .liste-kartei-leer {
	color: var(--TextHell);
}
