@charset "utf-8";

/* KEYFRAMES (für Animation "Ein- bzw. Ausblenden der Filterliste") */
@keyframes liste-re {
	0% {
		transform: translateX(-310px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes liste-li {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-310px);
	}
}

/* LISTENSEKTION */
#liste {
	display: grid;
	grid-template-columns: 300px calc(100% - 300px - 10px); /* Minus Breite Filterleiste und Gap */
	grid-gap: 10px;
	margin-top: 60px; /* 10px weniger als in anderen <section>, wird hier als padding-top gesetzt */
	width: calc(100% - 20px);
	animation-name: liste-re;
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	transition: width .5s ease;
}

#liste.quick {
	margin-top: 89px;
}

#liste.filter-aus {
	width: calc(100% + 310px - 20px);
	animation-name: liste-li;
}

#liste.preload { /* damit beim ersten Anzeigen der Liste keine Animation läuft */
	animation-duration: 0s;
}

/* FILTERLEISTE */
#liste-filter {
	position: sticky;
	top: 60px;
	padding-top: 10px;
	width: 300px;
}

.quick #liste-filter {
	top: 89px;
}

#liste-filter p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* BELEGLISTE: HEADER */
#liste-belege {
	position: relative;
}

#liste-belege header {
	position: sticky;
	top: 60px;
	z-index: 1;
	padding: 10px 0;
	width: 100%;
	height: 24px;
	overflow: hidden;
	background-color: #fff;
	white-space: nowrap;
}

.quick #liste-belege header {
	top: 89px;
}

.icon-bearbeiten {
	-webkit-mask-image: url(../img/liste-bearbeiten.svg);
	mask-image: url(../img/liste-bearbeiten.svg);
}

.liste-opt-block {
	display: inline-block;
	margin-left: 25px;
	height: 24px;
}
.liste-opt-block:first-child {
	margin-left: 0;
}

.liste-opt-block a {
	display: inline-block;
	border-right: 1px solid var(--linie);
	padding: 0 5px;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-color: var(--hintergrund);
	color: var(--Text);
	text-decoration: none;
}

.liste-opt-block a:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.liste-opt-block a:last-child {
	border-right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.liste-opt-block a:focus {
	background-color: var(--hintergrund);
	color: var(--farbe);
}

.liste-opt-block a.aktiv {
	background-color: var(--aktiv);
	color: #fff;
}

.liste-opt-block a.aktiv:focus {
	background-color: var(--farbe);
}

.liste-opt-block svg path {
	fill: currentcolor;
}

.liste-opt-block .liste-text {
	width: auto;
}

.liste-opt-block .liste-link-zeitschnitte {
	text-align: center;
	width: 32px;
}

.liste-strike {
	position: relative;
}

.liste-strike:before {
  content: "";
  position: absolute;
  left: 3px;
  top: 40%;
  right: 2px;
  border-top: 3px solid var(--textWarnung);
}

#liste-belege-anzahl {
	position: absolute;
	right: 0;
	padding: 0 5px 0 25px;
	background-color: #fff;
}

#liste-belege-anzahl.belege-gefiltert {
	font-weight: bold;
}

/* BELEGLISTE: CONTENT */
#liste-belege-cont {
	margin: 0 0 25px 0;
}

#liste-belege-cont a,
#liste-belege-cont span {
	display: inline-block;
}

.liste-kopf {
	border-top: 1px solid var(--linie);
	border-left: 3px solid var(--farbeB);
	padding: 2px 10px;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--hintergrund);
	cursor: pointer;
}

.liste-kopf.schnitt-offen {
	text-overflow: clip;
}

.liste-kopf.schnitt-offen q {
	visibility: hidden;
}

.liste-bearbeiten {
	margin-right: 15px;
	background-color: var(--textSehrHell);
}

.liste-bearbeiten:hover {
	background-color: var(--text);
}

.liste-jahr {
	margin-right: 15px;
	font-style: italic;
}

.liste-jahr-hinweis:after {
	content: "*";
	position: relative;
	left: 3px;
	color: var(--textWarnung);
}

.liste-schnitt {
	border-left: 3px solid var(--farbeB);
	padding: 10px 10px 10px 49px;
	height: auto;
	background-color: transparent;
	user-select: text;
}

.liste-schnitt p {
	max-width: 600px;
}

.liste-schnitt p:last-child {
	margin-bottom: 0;
}

.liste-zeitschnitt,
.liste-keine-belege,
.liste-kartei-leer {
	border-top: 1px solid var(--linie);
	padding: 10px;
	background-color: transparent;
	color: var(--textFarbe);
	font-style: italic;
	text-align: center;
}

.liste-keine-belege,
.liste-kartei-leer {
	color: var(--textHell);
}
