@charset "UTF-8";

/* KEYFRAMES (für die Animation Ein-/Ausblenden der Filterliste) */
@keyframes liste_re {
	0% {
		transform: translateX(-310px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes liste_li {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-310px);
	}
}

/* LISTENSEKTION */
#liste {
	width: calc(100% - 20px);
	margin-top: 60px; /* 10px weniger als in anderen <section>, wird hier als padding-top gesetzt */
	display: grid;
	grid-template-columns: 300px calc(100% - 300px - 10px); /* Minus Breite Filterleiste und Gap */
	grid-gap: 10px;
	animation-name: liste_re;
	animation-timing-function: ease;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	transition: width 0.5s ease;
}
#liste.filter_aus {
	width: calc(100% + 310px - 20px);
	animation-name: liste_li;
}
#liste.preload { /* damit beim ersten Anzeigen der Liste keine Animation läuft */
	animation-duration: 0s;
}

/* FILTERLEISTE */
#liste_filter {
	padding-top: 10px;
	width: 300px;
	position: sticky;
	top: 60px;
}
#liste_filter p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#liste_filter label {
	color: var(--Farbe);
}

/* BELEGLISTE: HEADER */
#liste_belege {
	position: relative;
}
#liste_belege header {
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	padding: 10px 5px 2px 8px;
	width: calc(100% - 13px); /* 13px padding */
	height: 24px;
	border-bottom: 1px solid var(--Linie);
	position: sticky;
	top: 60px;
	z-index: 1;
}
#liste_belege header a {
	margin-left: 5px;
}
#liste_belege header .liste_link_text {
	color: var(--Text);
	margin-left: 10px;
}
#liste_belege header .liste_link_text:focus {
	color: var(--Farbe);
	text-decoration: none;
}
#liste_belege header .liste_link_text:hover {
	text-decoration: none;
}
#liste_belege header .liste_link_text_strike {
	padding: 0 3px 0 2px;
	position: relative;
}
#liste_belege header .liste_link_text_strike:before {
  position: absolute;
  content: "";
  left: 0;
  top: 40%;
  right: 0;
  border-top: 3px solid var(--FarbeRot);
}
#liste_belege header #liste_link_hervorheben {
	width: 45px;
	display: inline-block;
}
#liste_belege header .link_aktiv {
	font-weight: bold;
}
#liste_belege header .start_block {
	margin-left: 25px;
}
#liste_belege header #liste_belege_anzahl {
	background-color: #fff;
	padding: 0 5px 0 25px;
	position: absolute;
	right: 0;
}
#liste_belege header .belege_gefiltert {
	font-weight: bold;
}

/* BELEGLISTE: CONTENT */
#liste_belege_cont {
	margin: 0 0 25px 0;
}
#liste_belege_cont .liste_kopf {
	background-color: var(--Hintergrund);
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 24px;
	padding: 2px 10px;
	border-bottom: 1px solid var(--Linie);
	border-left: 3px solid var(--Farbe);
	cursor: pointer;
}
#liste_belege_cont a, #liste_belege_cont span {
	display: inline-block;
}
#liste_belege_cont .liste_bearbeiten {
	margin-right: 15px;
}
#liste_belege_cont .liste_jahr {
	font-style: italic;
	margin-right: 15px;
}
#liste_belege_cont .liste_jahr_hinweis:after {
	content: "*";
	color: var(--FarbeRot);
	position: relative;
	left: 3px;
}
#liste_belege_cont .liste_schnitt {
	background-color: transparent;
	height: auto;
	padding: 10px 10px 0 49px;
	border-bottom: 1px solid var(--Linie);
	border-left: 3px solid var(--Farbe);
	user-select: text;
}
#liste_belege_cont .liste_schnitt p {
	max-width: 600px;
}
#liste_belege_cont .liste_zeitschnitt, #liste_belege_cont .liste_keine_belege, #liste_belege_cont .liste_kartei_leer {
	background-color: transparent;
	color: var(--Farbe);
	text-align: center;
	font-style: italic;
	padding: 10px;
	border-bottom: 1px solid var(--Linie);
}
#liste_belege_cont .liste_keine_belege, #liste_belege_cont .liste_kartei_leer {
	color: var(--TextHell);
}
