@charset "utf-8";

/* Alle Overlay-Fenster ------------------------- */
#dialog,
#einstellungen,
#meta,
#notizen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 0 25px;
	width: calc(100% - 50px); /* 50px padding */
	height: 100%;
	background-color: rgba(180, 180, 180, .7);
}

#dialog > div,
#einstellungen > div,
#meta > div,
#notizen > div {
	margin: 80px auto 0 auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0;
	background-color: #fff;
}

#dialog h2,
#einstellungen h2,
#meta h2,
#notizen h2 {
	position: relative;
}

#dialog h2 a,
#einstellungen h2 a,
#meta h2 a,
#notizen h2 a {
	position: absolute;
	top: 2px;
	right: 5px;
	background-color: #fff;
}

.icon-schliessen {
	-webkit-mask-image: url(../img/heading-schliessen.svg);
	mask-image: url(../img/heading-schliessen.svg);
}

.overlay {
	opacity: 0;
	transition: opacity .2s ease;
}

.overlay.einblenden {
	opacity: 1;
}

/* Einstellungen -------------------------------- */
#einstellungen > div {
	margin-top: 40px;
	max-width: 700px;
}

#einstellungen-cont {
	display: grid;
	grid-template-columns: 150px 1fr;
}

#einstellungen-cont > div {
	padding: 10px;
}

#einstellungen-cont > div:first-child {
	padding: 10px 0 20px 0;
	background-color: var(--hintergrund);
	border-bottom-left-radius: 10px;
}

#einstellungen-cont ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#einstellungen-cont li {
	margin-bottom: 5px;
}

#einstellungen-cont li a {
	display: block;
	padding: 2px 5px;
	background-color: var(--farbeB);
	color: #fff;
}

#einstellungen-cont li a.aktiv {
	background-color: var(--aktiv);
}

#einstellungen-cont input[type="text"] {
	margin-right: 10px;
	width: 185px;
	color: var(--farbe);
}

#einstellungen-cont input[type="checkbox"] {
	margin-right: 9px; /* für alignment mit Überschrift */
}

#einstellungen-cont p {
	padding-left: 24px; /* für alignment mit Überschrift */
	text-indent: -24px; /* so sind mehrzeilige Texte im Block (hängt von checkbox ab) */
}

#einstellungen-cont p:last-child {
	margin-bottom: 0;
}

#einstellungen-quick-icons {
	columns: 2;
	padding-left: 24px;
}

#einstellungen-quick-icons h3 {
	margin: 10px 0 5px 0;
}

#einstellungen-quick-icons h3:first-child {
	margin-top: 0;
}

#einstellungen-quick-icons p {
	margin-bottom: 5px;
	padding-left: 0;
	text-indent: 0;
	white-space: nowrap;
}

.icon-h-einstellungen {
	-webkit-mask-image: url(../img/heading-einstellungen.svg);
	mask-image: url(../img/heading-einstellungen.svg);
}

.einstellung-neustart {
	color: var(--textWarnung);
}

/* Metadaten ------------------------------------ */
#meta > div {
	margin-top: 40px;
	max-width: 900px;
}

.icon-h-meta {
	-webkit-mask-image: url(../img/heading-meta.svg);
	mask-image: url(../img/heading-meta.svg);
}

#meta-cont {
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 15px));
	column-gap: 30px;
	padding: 10px 10px 5px 10px;
}

#meta-cont h3 {
	margin: 10px 0 5px 0;
}

#meta-cont p {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#meta-cont input[type="button"] {
	margin-left: 5px;
	width: 116px;
}

#meta-cont input[type="text"] {
	width: calc(100% - 121px - 12px); /* Button 121px, 12px padding und border */
}

#meta-cont .kein-wert {
	color: var(--textSehrHell);
	font-style: italic;
}

#meta-speicherort {
	text-align: left; /* das Feld ist rtl, bei kurzem Inhalt wäre der Text sonst rechtsbündig */
}

#meta-e-liste {
	margin-bottom: 5px;
	height: 120px;
	overflow-x: hidden;
	overflow-y: auto;
}

#meta-e-liste .icon-link {
	position: relative;
	top: -1px;
	margin-right: 10px;
	vertical-align: bottom;
	background-color: var(--textExtremHell);
}

#meta-e-liste .icon-link:hover {
	background-color: var(--text);
}

.icon-entfernen {
	-webkit-mask-image: url(../img/meta-entfernen.svg);
	mask-image: url(../img/meta-entfernen.svg);
}

#meta-l-liste {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 377px;
	overflow: hidden;
}

#meta-l-liste p {
	padding: 0 10px 0 1px; /* 1px links, damit die linke Grenze des Outline onfocus angezeigt wird */
}

/* Notizen -------------------------------------- */
#notizen > div {
	margin-top: 40px;
	max-width: 650px;
}

#notizen-cont {
	padding: 10px;
}

#notizen-cont textarea {
	min-height: 192px;
	max-height: 384px;
}

#notizen-cont p {
	position: relative;
	margin: 10px 0 0 0;
}

#notizen-cont p input:first-child {
	margin-left: 0;
}

#notizen-cont p input:last-child {
	position: absolute;
	right: 0;
}

#notizen-geaendert {
	display: inline-block;
	margin-left: 5px;
}

.icon-h-notizen {
	-webkit-mask-image: url(../img/heading-notizen.svg);
	mask-image: url(../img/heading-notizen.svg);
}

/* Dialog --------------------------------------- */
#dialog > div {
	max-width: 450px;
}

#dialog-h-prompt,
#dialog-h-confirm,
#dialog-h-alert {
	display: none;
}

.prompt #dialog-h-prompt,
.confirm #dialog-h-confirm,
.alert #dialog-h-alert {
	display: inline-block;
}

.prompt .icon-h {
	-webkit-mask-image: url(../img/dialog-prompt.svg);
	mask-image: url(../img/dialog-prompt.svg);
}

.confirm .icon-h {
	-webkit-mask-image: url(../img/dialog-confirm.svg);
	mask-image: url(../img/dialog-confirm.svg);
}

.alert .icon-h {
	-webkit-mask-image: url(../img/dialog-alert.svg);
	mask-image: url(../img/dialog-alert.svg);
}

#dialog-text {
	padding: 10px 10px 0 10px;
}

#dialog input[type="text"] {
	width: calc(100% - 10px - 2px); /* 10px = padding, 2px = border */
}

#dialog p.button {
	margin-bottom: 0;
	text-align: right;
}

#dialog-confirm,
#dialog-ok,
#dialog-prompt {
	display: none;
	padding: 0 10px 10px 10px;
}

#dialog-prompt {
	padding-bottom: 0;
}

.alert #dialog-ok {
	display: block;
}

.alert #dialog-abbrechen-button {
	display: none;
}

.confirm #dialog-confirm {
	display: block;
}

.prompt #dialog-ok,
.prompt #dialog-prompt {
	display: block;
}

.prompt #dialog-abbrechen-button {
	display: inline-block;
}
