@charset "utf-8";

:root {
	/* Textfarben */
	--text: #212121;
	--textHell: #9e9e9e;
	--textSehrHell: #bebebe;
	--textExtremHell: #e5e5e5;
	--textFarbe: #32af79;
	--textWarnung: #d00;
	/* Hintergrund-Farben */
	--hintergrund: #f9f9f9;
	--hover: #f9f9f9;
	--highlight: #ff0;
	/* Farb-Elemente */
	--farbe: #72a0cf;
	--farbeB: #386ea6; /* Buttons */
	--farbeH: #386ea6; /* Überschriften */
	--farbeStern: #fd0;
	--aktiv: #32af79;
	--linie: #c3d9f1;
	/* Schatten */
	--boxShadow: 3px 3px 6px 0 #d1d1d1;
}
