@charset "utf-8";

svg.bedvis {
  --event: #0000a9;
  --hover: #31C0FF;
  --line: #ccc;
  --link: #002bff;
  --meaning: #0000a9;
  --previewOpen: #f7d500;
  --quotation: #0000a9;
  --text: #212529;
  --textLight: #6c757d;

  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 720px;
  font-family: "PT Sans", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}


/* HEADING -------------------------------------- */

svg.bedvis text.lemma {
  font-family: "PT Serif", serif;
  font-size: 1.25rem;
  font-style: italic;
}


/* DEFINITION ----------------------------------- */

svg.bedvis g rect.blind {
  fill: transparent;
}

svg.bedvis text.definition {
  fill: var(--text);
  font-size: 1.125rem;
  transition: fill .3s linear;
}

svg.bedvis.lemma-list text.definition {
  font-style: italic;
}

svg.bedvis a {
  text-decoration: none !important;
}

svg.bedvis a:hover text.definition {
  fill: var(--link);
}

svg.bedvis a:hover text.definition tspan {
  fill: var(--text);
}

svg.bedvis text.definition .bold {
  font-weight: bold;
}

svg.bedvis text.definition .italic {
  font-style: italic;
}


/* DEFINITION LINES ----------------------------- */

svg.bedvis line.meaning {
  stroke: var(--meaning);
}

svg.bedvis g:hover line.meaning {
  stroke: var(--hover);
}

svg.bedvis g:hover line.meaning:not(.meaning-obsolete) {
  marker-end: url(#bedvisArrowBlueHover);
}

svg.bedvis linearGradient.extension-norm stop {
  stop-color: var(--meaning);
}

svg.bedvis linearGradient.extension-hover stop {
  stop-color: var(--hover);
}

svg.bedvis g:hover line.extension-norm,
svg.bedvis line.extension-hover {
  opacity: 0;
}

svg.bedvis line.extension-norm,
svg.bedvis g:hover line.extension-hover {
  opacity: 1;
}


/* QUOTATION CIRCLES ---------------------------- */

svg.bedvis circle {
  fill: var(--quotation);
}

svg.bedvis circle:hover {
  fill: var(--hover);
  cursor: pointer;
}

svg.bedvis circle.wgd-in-vorschau {
  fill: var(--previewOpen);
}

svg.bedvis text.year {
  fill: var(--text);
  font-size: 1rem;
  font-style: italic;
  text-anchor: middle;
}

@media (any-hover: hover) {
  svg.bedvis text.year {
    fill: transparent;
  }
}

svg.bedvis g:hover text.year {
  fill: var(--text);
}


/* TIMELINE ------------------------------------- */

svg.bedvis line.timeline {
  stroke: var(--line);
}

svg.bedvis text.timeline-year {
  fill: var(--textLight);
  font-size: 1rem;
  font-style: italic;
}

svg.bedvis g.timeline-event text {
  fill: var(--event);
  font-size: 1rem;
  cursor: help;
}

svg.bedvis g.timeline-event line {
  stroke: var(--event);
  stroke-width: 1;
}

svg.bedvis g.timeline-event line.timeline-event-span {
  stroke-width: 3;
}

svg.bedvis g.timeline-event rect {
  fill: var(--event);
}


/* ARROWS --------------------------------------- */

svg.bedvis marker.arrow-grey {
  fill: var(--line);
}

svg.bedvis marker.arrow-blue {
  fill: var(--meaning);
}

svg.bedvis marker.arrow-bluehover {
  fill: var(--hover);
}
