@charset "UTF-8";

/* IMPORTS -------------------------------------- */

@import url(../bedeutungenbaum.css);
@import url(../dropdown.css);
@import url(../fonts.css);
@import url(../global.css);
@import url(../tooltip.css);
@import url(../variablen.css);


/* STRUKTUR-ELEMENTE ---------------------------- */

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  color: var(--text);
  font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
  user-select: none;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; /* sonst kann die ausgeklappte Dropdown-Liste den Kopf überdecken */
  border-bottom: 10px solid #fff;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 60px;
  background-color: var(--farbe);
  white-space: nowrap;
}

body > header h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  line-height: 60px;
}

body > header h1 span {
  margin-left: 5px;
  font-size: 16px;
}

body > header h1 span::before {
  content: "(";
}

body > header h1 span::after {
  content: ")";
}

#icon {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0 10px;
  background-color: var(--farbe);
}

main {
  margin-top: 70px;
  padding: 0 10px 20px;
}


/* BASIS-ELEMENTE ------------------------------- */

h2 {
  position: relative;
  margin: 80px 0 15px;
  color: var(--textFarbe);
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  line-height: 38px;
  white-space: nowrap;
}

.dropdown-cont {
  position: absolute;
  top: 2px;
  right: -10px;
  padding: 0 10px 0 50px;
  background-image: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 100%) 25px);
}

.dropdown-feld {
  vertical-align: text-bottom;
  border: 1px solid var(--linie);
  padding: 2px 24px 2px 5px;
  width: 75px;
  color: var(--textSehrHell);
  font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
  cursor: default;
}

.dropdown-link-td {
  position: absolute;
  top: 8px;
  right: 11px;
  display: inline-block;
  outline: none;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: var(--iconHell);
}

.dropdown-link-td svg {
  vertical-align: top;
}

.dropdown-link-td svg path {
  fill: currentcolor;
}

.dropdown-feld:focus,
.dropdown-feld:hover {
  outline: none;
  border-color: var(--linie);
  color: var(--text);
}

.dropdown-feld:hover ~ a,
.dropdown-feld:focus ~ a {
  color: var(--text);
}

input:read-only::selection {
   /* user-select: none funktioniert nicht
      auf disabled kann ich sie auch nicht stellen, weil dann kein Klick-Event mehr gefeuert wird */
  background-color: transparent;
  color: var(--text);
}

#dropdown {
  margin-top: 2px; /* kleiner Fix, damit das Menü auch hier ein bisschen abgesetzt ist */
}


/* BEDEUTUNGENBAUM ------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

td {
  padding: 0;
  vertical-align: top;
}

td:first-child,
td:nth-child(2) {
  width: 24px;
}

.icon-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  text-decoration: none;
}

.icon-link:hover {
  background-color: var(--text);
}

.icon-link:focus {
  background-color: var(--farbe);
}

.icon-add {
  mask-image: url(../../img/plus.svg);
}

.icon-remove {
  mask-image: url(../../img/minus.svg);
}

td .icon-link {
  position: relative;
  top: 3px;
}

p.bd-win-keine {
  margin: 0;
  color: var(--textSehrHell);
  font-style: italic;
  text-align: center;
}

.bd-win-baum p:hover {
  color: var(--farbe);
}

mark.paraphrase {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--farbe);
}

mark.paraphrase::before {
  content: "‚";
}

mark.paraphrase::after {
  content: "‘";
}
