@charset "utf-8";

/* Variablen ------------------------------------ */
@import url(../variablen.css);

/* Fonts ---------------------------------------- */
@import url(../fonts.css);

/* Globale Klassen ------------------------------ */
@import url(../global.css);

/* Bedeutungenbaum ------------------------------ */
@import url(../bedeutungenbaum.css);

/* Struktur-Elemente ---------------------------- */
body {
	margin: 0;
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
	user-select: none;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3; /* sonst kann die ausgeklappte Dropdown-Liste den Kopf überdecken */
	border-bottom: 10px solid #fff;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
	white-space: nowrap;
}

body > header h1 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

#icon {
	position: absolute;
	top: 6px;
	right: 0;
	padding: 0 10px;
	background-color: var(--farbe);
}

main {
	margin-top: 70px;
	padding: 0 10px 20px 10px;
}

/* Basis-Elemente ------------------------------- */
h2 {
	position: relative;
	margin: 80px 0 15px 0;
	padding-right: 200px;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
	white-space: nowrap;
}

h2 svg {
	vertical-align: top;
}

#bd-win-geruest-detail {
	display: inline-block;
	max-width: 50%;
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#bd-win-drucken {
	position: absolute;
	right: 0;
	top: 3px;
	display: inline-block;
	border-radius: 3px;
	width: 24px;
	height: 24px;
	padding: 0 5px;
	background-color: var(--hintergrund);
	color: var(--text);
	text-decoration: none;
	cursor: default;
}

.dropdown-cont {
	position: absolute;
	top: 2px;
	right: 34px;
	padding-left: 25px;
	background-color: #fff;
}

.dropdown-feld {
	vertical-align: text-top;
	border: 1px solid var(--linie);
	padding: 2px 24px 2px 5px;
	width: 75px;
	color: var(--textSehrHell);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
	cursor: default;
}

.dropdown-link-element {
	position: relative;
	top: 5px;
	left: -26px;
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	background-color: #fff;
	color: var(--textExtremHell);
}

.dropdown-link-element svg path {
	fill: currentcolor;
}

.dropdown-feld:focus,
.dropdown-feld:hover {
	outline: none;
	border-color: var(--linie);
	color: var(--text);
}

.dropdown-feld:hover ~ a,
.dropdown-feld:focus ~ a {
	color: var(--text);
}

/* Bedeutungenbaum ------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

td {
	padding: 0;
}

td:first-child,
td:nth-child(2) {
	width: 24px;
}

.icon-link {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	text-decoration: none;
}

.icon-link:hover {
	background-color: var(--text);
}

.icon-link:focus {
	background-color: var(--farbe);
}

.icon-add {
	-webkit-mask-image: url(../../img/bedeutungen-add.svg);
	mask-image: url(../../img/bedeutungen-add.svg);
}

.icon-remove {
	-webkit-mask-image: url(../../img/bedeutungen-remove.svg);
	mask-image: url(../../img/bedeutungen-remove.svg);
}

p.bd-win-keine {
	margin: 0;
	color: var(--textSehrHell);
	font-style: italic;
	text-align: center;
}

.bd-win-baum p:hover {
	color: var(--farbe);
}
