@charset "utf-8";

/* Variablen ------------------------------------ */
@import url(../variablen.css);

/* Fonts ---------------------------------------- */
@import url(../fonts.css);

/* Globale Klassen ------------------------------ */
@import url(../global.css);

/* Suchleiste ----------------------------------- */
@import url(../animation.css);
@import url(../suchleiste.css);
@import url(../win/suchleiste-extra.css);

/* Struktur-Elemente ---------------------------- */
body {
	margin: 0;
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
	user-select: none;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 10px solid #fff;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
}

body > header h1 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

#icon {
	position: absolute;
	top: 6px;
	right: 10px;
}

main {
	margin-top: 70px;
	padding: 0 10px 10px 10px;
}

main.padding-suchleiste {
	padding-bottom: 51px;
}

/* Elemente ------------------------------------- */
a {
	outline: none;
	color: var(--textFarbe);
	text-decoration: none;
}

abbr {
	text-decoration: none;
}

code {
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
	background-color: var(--text);
	color: #fff;
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
}

code.quelltext {
	background-color: var(--hintergrund);
	color: var(--text);
}

h2 {
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 26px;
}

h2 span {
	display: inline-block;
	margin-right: 10px;
	border: 1px solid var(--linie);
	border-radius: 3px;
	padding: 2px 5px;
}

h2 time {
	font-size: 14px;
	color: var(--textHell);
}

h3 {
	margin: 10px 0 5px 0;
	color: var(--textFarbe);
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

hr {
	margin: 10px 0;
	border: none;
	border-top: 1px solid var(--linie);
}

kbd {
	display: inline-block;
	border: 1px solid var(--linie);
	border-radius: 3px;
	padding: 0 3px;
	background-color: var(--hintergrund);
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
}

p {
	margin: 0 0 10px 0;
}

q.bedeutung::before {
	content: "‚";
}

q.bedeutung::after {
	content: "‘";
}

pre {
	border-radius: 3px;
	padding: 3px;
	background-color: var(--text);
	color: #fff;
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
	white-space: pre-wrap;
	tab-size: 2;
}

pre.quelltext {
	background-color: var(--hintergrund);
	color: var(--text);
}

ul {
	margin: 0 0 10px 0;
	padding-left: 20px;
	list-style-type: disc;
}

li {
	margin-bottom: 5px;
}

li img {
	vertical-align: bottom;
}

li img.klein {
	vertical-align: baseline;
}

li p {
	margin-bottom: 5px;
}

/* Besonderheiten ------------------------------- */
#changelog-icons {
	position: fixed;
	top: 70px;
	right: 10px;
	padding: 0 0 5px 10px;
	background-color: #fff;
}

#changelog-icons a {
	display: inline-block;
	border-right: 1px solid var(--linie);
	padding: 0 5px;
	width: 24px;
	height: 24px;
	background-color: var(--hintergrund);
	color: var(--text);
	text-decoration: none;
}

#changelog-icons a:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#changelog-icons a:last-child {
	border-right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#changelog-drucken svg path {
	fill: currentcolor;
}

#changelog-drucken:focus {
	color: var(--farbe) !important;
}

.datei {
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
}

.datei.long {
	word-break: break-all;
}

.version {
	position: sticky;
	top: 70px;
	margin-top: 50px;
	padding-right: 10px; /* nötig, damit schmale Nummern breitere überdecken */
	width: fit-content;
	line-height: 32px;
	background-color: #fff;
	color: var(--textHell);
	font-size: 14px;
	font-style: italic;
}

main > div:not(.version) {
	margin-top: -32px;
	padding: 0 25px 0 50px;
}

.obacht {
	color: var(--textWarnung);
}
