@charset "utf-8";

/* Variablen ------------------------------------ */
@import url(../variablen.css);

/* Fonts ---------------------------------------- */
@import url(../fonts.css);

/* Globale Klassen ------------------------------ */
@import url(../global.css);

/* Suchleiste ----------------------------------- */
@import url(../animation.css);
@import url(../suchleiste.css);
@import url(../win/suchleiste-extra.css);

/* Struktur-Elemente ---------------------------- */
body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
	user-select: none;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1; /* wegen der "Checkboxes" in Handbuch > Einstellungen */
	border-bottom: 10px solid #fff;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
}

body > header h1 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

#icon {
	position: absolute;
	top: 6px;
	right: 10px;
}

main {
	display: grid;
	grid-template-columns: 250px 1fr;
	margin-top: 70px;
}

section {
	padding: 0 15px 10px 15px;
}

section.padding-suchleiste {
	padding-bottom: 51px;
}

/* Basis-Elemente ------------------------------- */
a {
	outline: none;
	color: var(--textFarbe);
	text-decoration: none;
}

a:not(.icon-link):focus {
	text-decoration: underline;
}

abbr {
	text-decoration: none;
}

code {
	border-radius: 3px;
	padding: 0 3px;
	background-color: var(--text);
	color: #fff;
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
	user-select: text;
}

code.quelltext {
	background-color: var(--hintergrund);
	color: var(--text);
}

figure {
	clear: left;
	clear: right;
	margin: 10px 0;
	border: 1px solid var(--linie);
	padding: 5px;
}

figure.left {
	float: left;
	margin: 0 10px 10px 0;
	width: 35%;
}

figure.right {
	float: right;
	margin: 0 0 10px 10px;
	width: 35%;
}

figure img {
	width: 100%;
}

.bilder {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.bilder figure {
	margin: 0 10px 10px 0;
}

figcaption {
	margin-top: 5px;
	color: var(--textHell);
	font-style: italic;
	text-align: center;
	line-height: 20px;
}

h2 {
	margin: 30px 0 15px 0;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
}

h2:first-child {
	margin-top: 16px;
}

img {
	vertical-align: text-bottom;
}

img.klein {
	vertical-align: baseline;
}

kbd {
	display: inline-block;
	border: 1px solid var(--linie);
	border-radius: 3px;
	padding: 0 3px;
	background-color: var(--hintergrund);
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
}

p {
	margin: 0 0 10px 0;
}

section > p:first-child {
	margin-top: 23px;
}

q.bedeutung::before {
	content: "‚";
}

q.bedeutung::after {
	content: "‘";
}

pre {
	border-radius: 3px;
	padding: 3px;
	background-color: var(--text);
	color: #fff;
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
	white-space: pre-wrap;
	user-select: text;
	tab-size: 2;
}

pre.quelltext {
	background-color: var(--hintergrund);
	color: var(--text);
}

q::before {
	content: "„";
}

q::after {
	content: "“";
}

q.einfach::before {
	content: "‚";
}

q.einfach::after {
	content: "‘";
}

s.rot {
	color: var(--farbeRot);
}

s.rot span {
	color: var(--text);
}

section ul,
section ol {
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: disc;
}

section ol {
	list-style-type: decimal;
}

section li {
	margin-bottom: 10px;
}

/* Navigation ----------------------------------- */
nav {
	position: sticky;
	top: 70px;
	padding: 20px 0 0 0;
	overflow: hidden;
	height: calc(100vh - 70px - 20px); /* 70px Header, 20px Padding */
	background-color: var(--hintergrund);
}

nav p {
	position: relative;
	padding: 0 4px;
}

nav p.suchform {
	line-height: 30px;
	overflow: hidden;
}

nav p.suchform a {
	position: relative;
	top: 3px;
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	color: var(--textExtremHell);
}

#suchleiste-link {
	margin-left: 4px;
}

#navi-back {
	margin-left: 8px;
}

nav p.suchform a svg path {
	fill: currentcolor;
}

nav p.suchform a.navigierbar {
	color: var(--text);
}

nav p.suchform a:hover {
	color: var(--text);
}

nav p.suchform a:focus {
	color: var(--farbe);
}

nav input {
	margin: 0;
	border: 1px solid var(--linie);
	padding: 2px 5px;
	width: calc(100% - 12px - 28px - 56px); /* 12px padding und border, 28px Suchleiste, 56px Navigationspfeile */
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
}

nav input:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

nav p.lupe input {
	padding-right: 25px;
	width: calc(100% - 32px - 28px - 56px); /* 32px padding und border, 28px Suchleiste, 56px Navigationspfeile */
}

#suchfeld-lupe {
	position: absolute;
	right: 90px;
	display: none;
	background-color: #fff;
}

nav p.lupe #suchfeld-lupe {
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	margin-bottom: 10px;
}

nav ul.h {
	margin: 5px 10px 0 10px;
}

nav ul.h li {
	margin-bottom: 5px;
	padding-left: 15px;
	text-indent: -15px;
}

nav li a.kopf {
	display: block;
	padding: 2px 10px;
	background-color: var(--farbeB);
	color: #fff;
}

nav li a.aktiv {
	background-color: var(--aktiv);
}

nav li a.kopf:focus,
nav li a.aktiv:focus {
	background-color: var(--farbe);
	text-decoration: none;
}

/* Tabellen ------------------------------------- */
table {
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 5px 10px;
	vertical-align: top;
	text-align: left;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

td:nth-child(3),
td:last-child {
	font-size: 14px;
	line-height: 20px;
}

td:nth-child(3) {
	white-space: nowrap;
}

th {
	font-style: italic;
	font-weight: normal;
}

td[colspan] {
	font-style: italic;
}

td[colspan] code {
	font-style: normal;
}

tr.wgd-ebene1 td[colspan] p,
tr.wgd-ebene1 p,
tr.wgd-ebene2 td[colspan] p,
tr.wgd-ebene2 p,
tr.wgd-ebene3 td[colspan] p,
tr.wgd-ebene3 p,
tr.wgd-ebene4 td[colspan] p,
tr.wgd-ebene4 p,
tr.wgd-ebene5 td[colspan] p,
tr.wgd-ebene5 p {
	margin: 0 0 0 15px;
	border-left: 3px solid var(--farbeB);
	padding-left: 15px;
}

tr.wgd-ebene1 td[colspan] p,
tr.wgd-ebene2 td[colspan] p,
tr.wgd-ebene3 td[colspan] p,
tr.wgd-ebene4 td[colspan] p,
tr.wgd-ebene5 td[colspan] p {
	border-color: transparent;
}

tr.wgd-ebene2 td[colspan] p,
tr.wgd-ebene2 p {
	margin-left: 43px;
}

tr.wgd-ebene3 td[colspan] p,
tr.wgd-ebene3 p {
	margin-left: 86px;
}

tr.wgd-ebene4 td[colspan] p,
tr.wgd-ebene4 p {
	margin-left: 129px;
}

tr.wgd-ebene5 td[colspan] p,
tr.wgd-ebene5 p {
	margin-left: 172px;
}

tr.wgd-alt td,
tr.wgd-alt td code {
	color: var(--textSehrHell);
}

tr.wgd-alt td p {
	border-color: var(--textExtremHell);
}

/* Suche ---------------------------------------- */
mark.suche,
mark.wort {
	border-radius: 3px;
	padding: 0 3px;
	background-color: var(--farbeOrange);
	color: #fff;
}

mark.wort {
	background-color: var(--farbeGelb);
	color: var(--text);
	font-weight: bold;
}

#suchergebnisse b {
	padding-right: 15px;
}

#suchergebnisse p {
	margin-bottom: 15px;
}

#suchergebnisse p:hover {
	color: var(--farbe);
}

#suchergebnisse p.keine-treffer {
	color: var(--textSehrHell);
	text-align: center;
	font-style: italic;
}

#suchergebnisse p.mehr-treffer {
	color: var(--farbe);
	font-style: italic;
	text-align: center;
}

/* Bild ----------------------------------------- */
#bild {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 25px;
	width: calc(100vw - 50px); /* 50px padding */
	height: 100vh;
	background-color: rgba(180, 180, 180, .7);
	opacity: 0;
	transition: opacity .2s ease;
}

#bild.einblenden {
	opacity: 1;
}

#bild-cont {
	position: relative;
	border-radius: 25px;
	padding: 25px;
	width: 90%;
	background-color: #fff;
	text-align: center;
}

#bild-cont h2 {
	margin: 0 25px 10px 25px;
	font-size: 20px;
	line-height: 30px;
}

#bild-cont img {
	max-width: 100%;
}

#bild-schliessen {
	position: absolute;
	top: 5px;
	right: 5px;
}

#bilder-prev {
	position: absolute;
	top: calc(50% - 48px);
	left: 0;
}

#bilder-next {
	position: absolute;
	top: calc(50% - 48px);
	right: 0;
}

/* Globale Klassen ------------------------------ */
.datei {
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
}

.datei.long {
	word-break: break-all;
}

.datentyp {
	color: var(--farbe);
}

.treffer-vor {
	outline-color: transparent;
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 2px;
}

.treffer {
	outline-color: var(--farbe);
	transition: outline-color 1.5s ease;
}

.treffer-nach {
	transition: outline-color 1.5s ease;
}

.obacht {
	color: var(--textWarnung);
}

.abschnitt {
	margin-top: 25px;
}

.erklaerung-icon {
	padding-left: 40px;
	text-indent: -40px;
}

.erklaerung-icon * {
	text-indent: 0;
}

.erklaerung-icon-menues {
	margin-top: 25px;
	font-style: italic;
}

.erklaerung-icon-menues:first-child {
	margin-top: 22px;
}

.erklaerung-icon img,
.erklaerung-icon-menues img {
	margin-right: 16px;
}

.erklaerung-option {
	position: relative;
	margin-top: 25px;
	margin-left: 40px;
	font-style: italic;
}

h2 + .erklaerung-option {
	margin-top: 0;
}

.erklaerung-option::before {
	position: absolute;
	top: 0;
	left: -40px;
	content: "☑";
	width: 40px;
	color: var(--farbeB);
	font-style: normal;
}

.info {
	margin-left: 40px;
	font-size: 14px;
	line-height: 20px;
}
