@charset "utf-8";

/* IMPORTS -------------------------------------- */

@import url(../fonts.css);
@import url(../global.css);
@import url(../tooltip.css);
@import url(../variablen.css);


/* STRUKTUR-ELEMENTE ---------------------------- */
body {
  margin: 0;
  background-color: #fff;
  color: var(--text);
  font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
  user-select: none;
}

body.electron {
  overflow: hidden;
}

main {
  padding: 10px;
  height: 274px;
  overflow: hidden;
}

aside {
  float: left;
  padding: 0 20px 20px 0;
}

footer {
  padding: 20px;
  background-color: var(--farbeB);
  color: #fff;
}


/* BASIS-ELEMENTE ------------------------------- */

a {
  color: var(--textFarbe);
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: underline;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:focus {
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

h1 {
  margin: 10px 0;
  color: var(--textFarbe);
  font-size: 34px;
  font-weight: normal;
  font-style: italic;
  line-height: 42px;
}

h2 {
  margin: 10px 0 15px 0;
  color: var(--textFarbe);
  font-size: 20px;
  font-weight: normal;
}

h2 a {
  margin-left: 20px;
  font-size: 14px;
}

p {
  margin: 0 0 10px 0;
}

p:last-child {
  margin-bottom: 0;
}

p.beschreibung-app {
  margin-bottom: 24px;
}

main p {
  margin-left: 170px;
}

table {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

th {
  padding-right: 20px;
  font-weight: normal;
  font-style: italic;
}

tr.lizenz th,
tr.lizenz td {
  padding-top: 20px;
}
