@charset "utf-8";

/* Variablen ------------------------------------ */
@import url(../variablen.css);

/* Fonts ---------------------------------------- */
@import url(../fonts.css);

/* Globale Klassen ------------------------------ */
@import url(../global.css);

/* Icon-Links ----------------------------------- */
@import url(../icon-links.css);


/* Struktur-Elemente ---------------------------- */
body {
	margin: 0;
	overflow-x: hidden;
	background-color: #fff;
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
	user-select: none;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3; /* sonst kann die ausgeklappte Dropdown-Liste den Kopf überdecken */
	border-bottom: 10px solid #fff;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
	white-space: nowrap;
}

body > header h1 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

#icon {
	position: absolute;
	top: 6px;
	right: 0;
	padding: 0 10px;
	background-color: var(--farbe);
}

main {
	margin-top: 70px;
	padding: 0 10px 20px 10px;
}

h2 {
	margin: 30px 0 15px 0;
	border-bottom: 1px solid var(--linie);
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
}

h2:first-child {
	margin-top: 0;
}

/* allgemeine Elemente ------------------------- */
input {
	margin: 0;
	color: var(--text);
	font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
}

textarea {
	display: block;
	margin: 0;
	border: none;
	padding: 0;
	width: 100%;
	background-color: var(--hintergrund);
	color: var(--text);
	font: 14px/22px "Noto Sans Mono", "Noto Sans Symbols2", monospace;
	resize: none;
}

textarea:focus {
	outline: 2px solid var(--farbe);
	outline-offset: 3px;
}

input[type="button"] {
	outline: none;
	margin: 0 0 0 15px;
	border: 0;
	border-radius: 3px;
	padding: 0 8px 0 33px;
	background: var(--farbeB) url(../../img/check-weiss.svg) no-repeat 4px center;
	color: #fff;
}

input[type="button"]:focus {
	background-color: var(--farbe);
}

input[type="button"]:first-child {
	margin-left: 0;
}

input[type="button"][value="Abbrechen"] {
	background-image: url(../../img/x-dick-weiss.svg);
}

input[type="button"][value="Bearbeiten"] {
	background-image: url(../../img/stift-weiss.svg);
}

input[type="button"][value="Speichern"] {
	background-image: url(../../img/speichern-weiss.svg);
}

/* Kopfleisten ---------------------------------- */
p.leer {
	margin: 0;
	color: var(--textSehrHell);
	font-style: italic;
	line-height: 34px;
}

.kopf {
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.kopf:hover {
	background-color: var(--hover);
}

.kopf > * {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.kopf > *:first-child {
	margin-left: 0;
}

.kopf > *:last-child {
	display: inline;
}

.warn {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: transparent;
}

.warn.aktiv {
	background-color: var(--textWarnung);
}

.icon-link {
	background-color: var(--textExtremHell);
}

.icon-link:focus {
	background-color: var(--farbe);
}

.icon-link:hover {
	background-color: var(--text);
}

.id {
	color: var(--farbeGruenDunkel);
	font-weight: bold;
}

.hinweis {
	font-weight: bold;
}

/* XML-Preview ---------------------------------- */
.pre-cont {
	margin: 0 0 0 39px;
	overflow: hidden;
	transition: height .3s ease;
}

pre {
	margin: 10px 0;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	background-color: var(--hintergrund);
	color: var(--text);
	font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
	font-size: 14px;
	line-height: 22px;
	white-space: pre-wrap;
	user-select: text;
	tab-size: 2;
}

.pre-cont .bearbeiten {
	margin: 10px 0;
	border-radius: 10px;
	padding: 10px;
	background-color: var(--hintergrund);
}

.pre-cont p {
	margin: 10px 0;
}
