@charset "UTF-8";

/* IMPORTS (EXTERNAL MODULE) -------------------- */

@import url(../../../external/bedvis/bedvis.css);


/* IMPORTS (SHARED) ----------------------------- */

@import url(../../animation.css);
@import url(../../dropdown2.css);
@import url(../../fonts.css);
@import url(../../forms.css);
@import url(../../global.css);
@import url(../../icon-links.css);
@import url(../../tooltip.css);
@import url(../../variablen.css);


/* IMPORTS (APP) -------------------------------- */

@import url(../../app/overlays.css);
@import url(../../app/overlays-dialog.css);


/* IMPORTS (BEDVIS) ----------------------------- */

@import url(admin.css);
@import url(assist.css);
@import url(config.css);
@import url(export.css);
@import url(fonts.css);
@import url(import.css);
@import url(lemmas.css);
@import url(meanings.css);
@import url(overlays.css);
@import url(quots.css);


/* BASE ----------------------------------------- */

body {
  margin: 0;
  background-color: #fff;
  color: var(--text);
  font: 16px/24px "Noto Sans", "Noto Sans Symbols2", sans-serif;
  user-select: none;

  > header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 10px solid #fff;
    padding: 0 10px;
    width: calc(100% - 20px);
    height: 60px;
    background-color: var(--farbe);
    white-space: nowrap;

    h1 {
      margin: 0;
      color: #fff;
      font-size: 30px;
      font-weight: normal;
      line-height: 60px;
    }

    #icon {
      position: absolute;
      top: 6px;
      right: 0;
      padding: 0 10px;
      background-color: var(--farbe);
    }
  }
}

main {
  display: grid;
  grid-template-areas:
    "a a a"
    "b c d";
  grid-template-rows: 46px calc(100vh - 70px - 10px - 46px);
  grid-template-columns: min(30%, 400px) min(calc(35% - 20px - 22px), 400px) 1fr;
  column-gap: 20px;
  margin-top: 70px;
  padding: 0 10px 10px;
  width: calc(100vw - 20px);

  #head {
    position: relative;
    grid-area: a;

    #list-head {
      width: min(calc(30% + 21px), calc(400px + 21px));
      height: 36px;

      input {
        margin-top: 3px;
      }
    }

    #main-fun {
      position: absolute;
      top: 0;
      right: 0;

      .fun-link {
        margin-left: 20px;
        padding-right: 6px;
        line-height: 36px;
      }
    }
  }

  #quot {
    grid-area: b;
    overflow: hidden auto;
  }

  #config {
    grid-area: c;
    overflow: hidden auto;
    border-left: 1px solid var(--linie);
    padding-left: 20px;
  }

  #svg {
    grid-area: d;
    overflow: hidden;
    border-left: 1px solid var(--linie);
    padding-left: 20px;

    .bedvis svg {
      width: 100%;
    }

    .error {
      img {
        display: block;
        margin: 0 auto;
      }

      font-style: italic;
      text-align: center;
    }
  }

  .init {
    padding-top: 15px;
    color: var(--textSehrHell);
    font-style: italic;
    text-align: center;

    .sec-fun {
      display: none;
    }
  }

  .sec-fun {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--linie);
    padding: 5px 0 5px 2px;
    background-color: #fff;
    font-size: 14px;
  }

  #quot-fun-reset {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;

    img {
      margin: 0;
    }
  }
}


/* FORMS ---------------------------------------- */

input[type="text"] {
  display: block;
  width: calc(100% - 12px);
}

input[type="radio"] {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}


/* QUOTATIONS AND MEANINGS ---------------------- */

sup,
sub {
  position: relative;
  left: .1em;
  vertical-align: baseline;
  font-size: .8em;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.2em;
}

:is(.wgd-distanzierung, .wgd-einfache)::before {
  content: "‚";
}

:is(.wgd-distanzierung, .wgd-einfache)::after {
  content: "‘";
}

.wgd-paraphrase::before {
  content: "›";
}

.wgd-paraphrase::after {
  content: "‹";
}

.wgd-hi-aq {
  font-family: "Noto Sans Mono", monospace;
  font-size: .9em;
}

.wgd-hi-fr,
.wgd-hi-in,
.wgd-hi-larger {
  font-size: 1.2em;
}

.wgd-hi-g {
  letter-spacing: 2px;
}

.wgd-hi-k {
  font-variant: small-caps;
}

.wgd-hi-uu {
  text-decoration: underline double;
}


/* MISCELLANEOUS -------------------------------- */

abbr {
  text-decoration: none;
}

p {
  margin: 0 0 15px;

  &:is(.last-p, :last-child) {
    margin-bottom: 0;
  }
}

.fun-link {
  display: inline-block;
  margin-left: 15px;
  padding-right: 4px;
  color: var(--text);
  line-height: 24px;
  text-decoration: none;

  &:first-child {
    margin-left: 0;
  }

  &:is(:hover, :focus) {
    outline: 2px solid var(--farbe);
    border-radius: 4px;
  }

  img {
    vertical-align: top;
    margin-right: 2px;
  }

  &.disabled {
    pointer-events: none;
    color: var(--textHell);

    img {
      opacity: .5;
    }
  }
}

.lemma-list .sec-fun .fun-link {
  color: var(--textHell);
  pointer-events: none;

  img {
    opacity: .5;
  }
}
