@charset "utf-8";

/* Variablen ------------------------------------ */
@import url(../variablen.css);

/* Fonts ---------------------------------------- */
@import url(../fonts.css);

/* Basis-Elemente ------------------------------- */
body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text);
	font: 16px/24px "DejaVu Sans", sans-serif;
	user-select: none;
}

h2 {
	margin: 0;
	padding: 0 0 0 10px;
	background-color: var(--farbeH);
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

h2 span:first-child {
	margin-right: 5px;
}

h3 {
	margin: 20px 0 10px 0;
	color: var(--textFarbe);
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

h3:first-child {
	margin-top: 0;
}

.icon-h {
	display: inline-block;
	width: 24px;
	height: 28px;
	background-color: #fff;
	-webkit-mask-position: center;
	mask-position: center;
}

p {
	margin: 0 0 10px 0;
}

p.input-text {
	line-height: 30px;
}

body > section {
	position: relative;
	margin-top: 70px; /* 60 px = Höhe des fixierten <header> + 10px = border */
	padding: 0 10px;
	transition: margin-top .5s ease;
}

body > section.quick {
	margin-top: 99px;
}

/* Links ---------------------------------------- */
a {
	outline: none;
	color: var(--textFarbe);
	text-decoration: none;
	cursor: default;
}

.icon-link {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: var(--text);
	text-decoration: none;
}

.icon-link:focus {
	background-color: var(--farbe);
}

.icon-stern {
	-webkit-mask-image: url(../../img/stern.svg);
	mask-image: url(../../img/stern.svg);
}

/* Formular-Elemente ---------------------------- */
input,
textarea {
	margin: 0;
	color: var(--text);
	font: 16px/24px "DejaVu Sans", sans-serif;
}

input[type="text"] {
	border: 1px solid var(--linie);
	padding: 2px 5px;
}

input[type="text"]:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

input[type="button"] {
	outline: none;
	margin: 0 0 0 15px;
	border: 0;
	border-radius: 3px;
	padding: 0 8px 0 33px;
	background: var(--farbeB) url(../../img/button-check.svg) no-repeat 4px center;
	color: #fff;
}

input[type="button"]:focus {
	background-color: var(--farbe);
}

input[type="button"][value="Abbrechen"] {
	background-image: url(../../img/button-cancel.svg);
}

input[type="button"][value="Ergänzen"] {
	background-image: url(../../img/button-ergaenzen.svg);
}

input[type="button"][value="Löschen"] {
	background-image: url(../../img/button-delete.svg);
}

input[type="button"][value="Nein"] {
	background-image: url(../../img/button-no.svg);
}

input[type="button"][value="Speichern"] {
	background-image: url(../../img/button-save.svg);
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	top: 2px;
	z-index: 1;
	box-sizing: content-box;
	margin: 0 7px 0 0;
	border: 1px solid var(--linie);
	padding: 0;
	width: 13px;
	height: 13px;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	font-size: 16px;
	line-height: 13px;
}

input[type="radio"] {
	border-radius: 6.5px;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

input[type="checkbox"]:checked
input[type="radio"]:checked {
	border-color: var(--farbe);
}

input[type="checkbox"]:checked:focus,
input[type="radio"]:checked:focus {
	outline-color: var(--aktiv);
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
	position: absolute;
	content: "✔";
	display: block;
	background-color: var(--farbe);
	color: #fff;
}

input[type="radio"]:checked:before {
	content: "●";
	border-radius: 6.5px;
	width: 13px;
	font-size: 9px;
	text-align: center;
}

textarea {
	display: block;
	margin: 0;
	resize: vertical;
	border: 1px solid var(--linie);
	padding: 2px 5px;
	width: calc(100% - 12px);
}

textarea:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

/* Globale Klassen ------------------------------ */
.aus {
	display: none !important;
}

::selection {
	background-color: var(--farbe);
	color: #fff;
}
