@charset "utf-8";

#bedeutungen header {
	position: sticky;
	top: 70px;
	padding: 0 0 10px 0;
	height: 24px;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
}

#bedeutungen header input:first-child {
	margin-left: 0;
}

#bedeutungen header span {
	position: absolute;
	right: 0;
	width: 48px;
	color: var(--textFarbe);
	text-align: center;
}

#bedeutungen h2 {
	margin: 0 0 15px 0;
	padding: 0;
	background-color: transparent;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
}
