@charset "utf-8";

/* Kopf ----------------------------------------- */
#bedeutungen header {
	position: sticky;
	top: 70px;
	padding: 0 0 10px 0;
	height: 30px;
	background-color: #fff;
}

#bedeutungen header input:first-child {
	margin-left: 0;
}

#bedeutungen.quick header {
	top: 99px;
}

#bedeutungen header > div {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
}

#bedeutungen header > div > div {
	position: absolute;
	top: -3px;
	right: -24px;
	height: 30px;
}

#bedeutungen-hierarchie {
	background-color: transparent;
	width: 75px;
	color: var(--textSehrHell);
	cursor: default;
}

#bedeutungen-hierarchie:focus,
#bedeutungen-hierarchie:hover {
	outline: none;
	border-color: var(--linie);
	color: var(--text);
}

#bedeutungen-hierarchie:hover ~ a,
#bedeutungen-hierarchie:focus ~ a {
	color: var(--text);
}

/* Tabelle -------------------------------------- */
#bedeutungen-cont {
	padding-bottom: 20px;
}

#bedeutungen-cont h2 {
	margin: 15px 0 10px 74px; /* 74px = 2 Zellen links + 5px Padding der Gerüstzelle + Border*/
	padding: 0;
	background-color: transparent;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
	text-align: left;
}

#bedeutungen-cont h2 span {
	margin-left: 10px;
}

#bedeutungen-cont table {
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

#bedeutungen-cont td {
	padding: 0 5px;
	vertical-align: top;
	line-height: 30px;
}

#bedeutungen-cont td:first-child,
#bedeutungen-cont td:nth-child(2) {
	width: 24px;
	background-color: var(--hintergrund);
}

#bedeutungen-cont td:nth-child(2) {
	border-left: 1px solid var(--linie);
}

#bedeutungen-cont td:nth-child(3) {
	min-width: 250px;
	max-width: 700px;
}

#bedeutungen-cont td:nth-child(4) {
	background-color: var(--hintergrund);
	white-space: nowrap;
}

#bedeutungen-cont td:nth-child(4):not(.leer) {
	font-variant: small-caps;
}

#bedeutungen-cont td:last-child {
	border-left: 1px solid var(--linie);
	min-width: 62px;
	background-color: var(--hintergrund);
	white-space: nowrap;
}

#bedeutungen-cont span[contenteditable] {
	display: inline-block;
	border: 1px solid var(--linie);
	padding: 0 5px;
	min-width: 50px;
	line-height: 24px;
	color: var(--text);
	text-indent: 0;
}

#bedeutungen-cont span[contenteditable]:focus {
	outline: 1px solid var(--farbe);
	border-color: var(--farbe);
}

#bedeutungen-cont .bedeutungen-edit {
	background-color: var(--hintergrund);
}

#bedeutungen-cont .zaehlung b,
.bedeutungen-dialog b {
	display: inline-block;
	width: 35px;
	vertical-align: top;
	text-align: center;
	text-indent: 0;
}

#bedeutungen-cont .zaehlung div {
	margin-left: 35px;
}

#bedeutungen-cont .zaehlung > div {
	margin-left: 0;
}

#bedeutungen-cont .zaehlung p {
	margin: 0;
	padding-left: 35px;
	text-indent: -35px;
}

#bedeutungen-cont .bedeutungen-aktiv td,
#bedeutungen-cont .bedeutungen-affiziert td {
	background-color: var(--farbe);
	color: #fff;
}

#bedeutungen-cont .bedeutungen-moved .bedeutungen-aktiv td,
#bedeutungen-cont .bedeutungen-moved .bedeutungen-affiziert td {
	background-color: var(--farbeGruen);
}

#bedeutungen-cont .bedeutungen-unmovable .bedeutungen-aktiv td,
#bedeutungen-cont .bedeutungen-unmovable .bedeutungen-affiziert td {
	background-color: var(--textWarnung);
}

a[class*="icon-move"] {
	background-color: transparent;
}

.icon-move_ {
	-webkit-mask-image: url(../../img/move_.svg);
	mask-image: url(../../img/move_.svg);
}

.icon-move_37-38-39-40 {
	-webkit-mask-image: url(../../img/move_37-38-39-40.svg);
	mask-image: url(../../img/move_37-38-39-40.svg);
}

.icon-move_37-38-39 {
	-webkit-mask-image: url(../../img/move_37-38-39.svg);
	mask-image: url(../../img/move_37-38-39.svg);
}

.icon-move_37-38-40 {
	-webkit-mask-image: url(../../img/move_37-38-40.svg);
	mask-image: url(../../img/move_37-38-40.svg);
}

.icon-move_37-38 {
	-webkit-mask-image: url(../../img/move_37-38.svg);
	mask-image: url(../../img/move_37-38.svg);
}

.icon-move_37-39-40 {
	-webkit-mask-image: url(../../img/move_37-39-40.svg);
	mask-image: url(../../img/move_37-39-40.svg);
}

.icon-move_37-39 {
	-webkit-mask-image: url(../../img/move_37-39.svg);
	mask-image: url(../../img/move_37-39.svg);
}

.icon-move_37-40 {
	-webkit-mask-image: url(../../img/move_37-40.svg);
	mask-image: url(../../img/move_37-40.svg);
}

.icon-move_37 {
	-webkit-mask-image: url(../../img/move_37.svg);
	mask-image: url(../../img/move_37.svg);
}

.icon-move_38-39-40 {
	-webkit-mask-image: url(../../img/move_38-39-40.svg);
	mask-image: url(../../img/move_38-39-40.svg);
}

.icon-move_38-39 {
	-webkit-mask-image: url(../../img/move_38-39.svg);
	mask-image: url(../../img/move_38-39.svg);
}

.icon-move_38-40 {
	-webkit-mask-image: url(../../img/move_38-40.svg);
	mask-image: url(../../img/move_38-40.svg);
}

.icon-move_38 {
	-webkit-mask-image: url(../../img/move_38.svg);
	mask-image: url(../../img/move_38.svg);
}

.icon-move_39-40 {
	-webkit-mask-image: url(../../img/move_39-40.svg);
	mask-image: url(../../img/move_39-40.svg);
}

.icon-move_39 {
	-webkit-mask-image: url(../../img/move_39.svg);
	mask-image: url(../../img/move_39.svg);
}

.icon-move_40 {
	-webkit-mask-image: url(../../img/move_40.svg);
	mask-image: url(../../img/move_40.svg);
}

#bedeutungen-cont .icon-loeschen {
	-webkit-mask-image: url(../../img/loeschen.svg);
	mask-image: url(../../img/loeschen.svg);
	background-color: transparent;
}

#bedeutungen-cont .bedeutungen-aktiv .icon-loeschen {
	background-color: #fff;
}

#bedeutungen-cont .icon-link {
	position: relative;
	top: 3px;
}

#bedeutungen-cont .icon-link:hover {
	background-color: var(--text);
}

#bedeutungen-cont .bedeutungen-aktiv .icon-link,
#bedeutungen-cont .bedeutungen-aktiv .icon-link:hover,
#bedeutungen-cont .bedeutungen-affiziert .icon-link:hover {
	background-color: #fff;
}

#bedeutungen-cont .leer,
#bedeutungen-cont .bedeutungen-aktiv .leer,
#bedeutungen-cont .bedeutungen-affiziert .leer {
	color: transparent;
	font-style: italic;
}

#bedeutungen-cont .leer:hover {
	color: var(--text);
}

#bedeutungen-cont .bedeutungen-aktiv .leer:hover,
#bedeutungen-cont .bedeutungen-affiziert .leer:hover {
	color: #fff;
}


/* Besonderheiten ------------------------------- */
.bedeutungen-dialog {
	margin-left: 25px;
	padding-left: 35px;
	font-style: italic;
	text-indent: -35px;
}
