@charset "utf-8";

/* Kopf ----------------------------------------- */
#beleg header {
	position: sticky;
	top: 70px;
	z-index: 2;
	padding: 0 0 10px 0;
	background-color: #fff;
}

#beleg header input:first-child {
	margin-left: 0;
}

#beleg.quick header {
	top: 99px;
}

#beleg header > div {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
}

#beleg-buttons {
	position: relative;
	z-index: 1;
	padding-right: 25px;
	width: fit-content;
	background-color: #fff;
}

#beleg-buttons input:last-child {
	margin-left: 45px;
}

/* Styles zu .beleg-opt-block → liste.css */
#beleg-opt {
	position: absolute;
	right: 0;
	top: 0;
	height: 24px;
}

/* Tabelle des Formulars ------------------------ */
#beleg table {
	margin: 0 auto 20px auto;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	padding: 15px;
	width: calc(100% - 104px);
	min-width: 500px;
	max-width: 850px;
	background-color: var(--hintergrund);
}

#beleg h2 {
	margin: 21px 0 10px 15px; /* 21px von oben, damit identische Position mit Überschrift Bedeutungsgerüst */
	padding: 0;
	background-color: transparent;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
	text-align: left;
}

#beleg-geaendert {
	margin-left: 10px;
}

#beleg th {
	position: relative;
	padding: 10px 35px 0 11px;
	width: calc(50% - 46px);
	color: var(--textFarbe);
	vertical-align: top;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

#beleg th[colspan="2"] {
	width: auto;
}

#beleg td {
	position: relative;
	padding: 0 5px;
	width: calc(50% - 10px);
	vertical-align: top;
}

#beleg td[colspan="2"] {
	width: auto;
}

#beleg td.check div {
	display: flex;
	flex-wrap: wrap;
}

#beleg td.check p {
	flex: 1 0 130px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
}

#beleg td.check p:last-child {
	padding-right: 0;
}

#beleg hr {
	margin: 30px 0 10px 0;
	border: none;
	height: 1px;
	background-color: var(--linie);
}

/* Formular-Elemente ---------------------------- */
#beleg input[type="text"] {
	width: calc(100% - 12px);
}

#beleg input[type="text"].dropdown-feld {
	width: calc(100% - 31px);
}

#beleg input[type="number"] {
	margin-left: 10px;
	width: 57px;
}

#beleg input[type="text"]#beleg-dta {
	width: calc(100% - 12px - 79px - 145px); /* 64px Number-Feld, 145px Button */
}

#beleg-dta-button {
	margin-left: 10px;
	width: 135px;
}

#beleg textarea {
	margin: 0 auto;
	min-height: 24px;
	max-height: 192px;
}

#beleg textarea:invalid {
	background: #fff url(../../img/beleg-mehrzeilig.svg) no-repeat left 2px;
}

#beleg textarea.dropdown-feld {
	width: calc(100% - 31px);
}

textarea#beleg-bs {
	min-height: 24px;
	max-height: 288px;
}

#beleg label {
	color: var(--textFarbe);
}

#beleg-bewertung a.aktiv {
	background-color: var(--farbeStern);
}

#beleg-bewertung a.aktiv:focus {
	background-color: var(--farbe);
}

#beleg-an {
	margin: 0 auto;
	max-width: 550px;
}

#beleg-an p:last-child {
	margin-bottom: 0;
}

#beleg-an .anhaenge-item:hover {
	background-color: #fff;
}

/* Text-Tools ----------------------------------- */
.text-tools {
	position: absolute;
	right: 6px;
}

.text-tools-beleg {
	position: absolute;
	right: 78px;
}

.text-tools a,
.text-tools-beleg a {
	display: inline-block;
	background-color: var(--textExtremHell);
}

.text-tools a:hover,
.text-tools-beleg a:hover {
	background-color: var(--text);
}

.icon-tools-einfuegen {
	-webkit-mask-image: url(../../img/tool-einfuegen.svg);
	mask-image: url(../../img/tool-einfuegen.svg);
}

.icon-tools-kopieren {
	-webkit-mask-image: url(../../img/tool-kopieren.svg);
	mask-image: url(../../img/tool-kopieren.svg);
}

.icon-tools-antiqua {
	-webkit-mask-image: url(../../img/tool-antiqua.svg);
	mask-image: url(../../img/tool-antiqua.svg);
}

.icon-tools-bold {
	-webkit-mask-image: url(../../img/tool-bold.svg);
	mask-image: url(../../img/tool-bold.svg);
}

.icon-tools-caps {
	-webkit-mask-image: url(../../img/tool-caps.svg);
	mask-image: url(../../img/tool-caps.svg);
}

.icon-tools-italic {
	-webkit-mask-image: url(../../img/tool-italic.svg);
	mask-image: url(../../img/tool-italic.svg);
}

.icon-tools-mark {
	-webkit-mask-image: url(../../img/tool-mark.svg);
	mask-image: url(../../img/tool-mark.svg);
}

.icon-tools-size {
	-webkit-mask-image: url(../../img/tool-size.svg);
	mask-image: url(../../img/tool-size.svg);
}

.icon-tools-spacing {
	-webkit-mask-image: url(../../img/tool-spacing.svg);
	mask-image: url(../../img/tool-spacing.svg);
}

.icon-tools-strike {
	-webkit-mask-image: url(../../img/tool-strike.svg);
	mask-image: url(../../img/tool-strike.svg);
}

.icon-tools-underline {
	-webkit-mask-image: url(../../img/tool-underline.svg);
	mask-image: url(../../img/tool-underline.svg);
}

/* Leseansicht ---------------------------------- */
.beleg-lese {
	display: none;
}

.leseansicht .beleg-lese {
	display: table-row;
}

.leseansicht .beleg-form {
	display: none;
}

.beleg-lese a {
	cursor: pointer;
}

.beleg-lese p {
	margin: 0 auto 10px auto;
	padding: 0 6px;
	max-width: 700px;
	user-select: text;
}

#beleg .beleg-lese td {
	border-bottom: 1px solid var(--linie);
	padding-top: 10px;
}

#beleg .beleg-lese td#beleg-lese-meta {
	padding-top: 0;
}

#beleg-lese-meta div {
	margin-bottom: 10px;
	padding-left: 6px;
	height: 24px;
}

#beleg-lese-meta div > span {
	display: inline-block;
	margin-left: 20px;
	height: 24px;
}

#beleg-lese-meta div span span {
	overflow: hidden;
}
