@charset "utf-8";

/* KOPF ----------------------------------------- */

#beleg.padding-suchleiste {
  padding-bottom: 29px;
}

#beleg header {
  position: sticky;
  top: 70px;
  z-index: 3;
  padding: 0 0 10px;
  background-color: #fff;
}

#beleg header input:first-child {
  margin-left: 0;
}

#beleg.quick header {
  top: 99px;
}

#beleg header > div {
  position: relative;
  margin: 0 auto;
  max-width: 850px;
}

#beleg-buttons {
  position: relative;
  z-index: 1;
  padding-right: 50px;
  width: fit-content;
  background-image: linear-gradient(to left, rgb(255 255 255 / 0%), rgba(255 255 255 / 100%) 25px);
}

#beleg-buttons input:last-child {
  margin-left: 45px;
}

/* Styles zu .beleg-opt-block → liste.css */
#beleg-opt {
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
}


/* TABELLE DES FORMULARS ------------------------ */

#beleg table {
  margin: 0 auto 20px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  padding: 15px;
  width: calc(100% - 104px);
  min-width: 500px;
  max-width: 850px;
  background-color: var(--hintergrund);
}

#beleg h2 {
  position: sticky;
  top: 104px;
  z-index: 3;
  margin: 0 auto;
  padding: 21px 0 10px; /* 21px von oben, damit identische Position mit Überschrift Bedeutungsgerüst */
  width: calc(100% - 104px);
  min-width: 500px;
  max-width: 850px;
  background-color: #fff;
  color: var(--textFarbe);
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  line-height: 38px;
  text-align: left;
}

#beleg.quick h2 {
  top: 133px;
}

#beleg-geaendert {
  margin-left: 10px;
}

#beleg-referenz {
  margin-left: 10px;
  font-size: 16px;
  line-height: 24px;
}

#beleg th {
  position: relative;
  padding: 10px 35px 0 11px;
  width: calc(50% - 46px);
  color: var(--textFarbe);
  vertical-align: top;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

#beleg th[colspan="2"] {
  width: auto;
}

#beleg td {
  position: relative;
  padding: 0 5px;
  width: calc(50% - 10px);
  vertical-align: top;
}

#beleg td[colspan="2"] {
  width: auto;
}

#beleg td.check > div {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 20px;
}

#beleg td.check > div:has([data-ansicht="neu"]) {
  grid-template-columns: 160px auto;
}

#beleg td.check p {
  margin-bottom: 0;
}

#beleg-tags[data-ansicht="alt"] span {
  white-space: nowrap;
}

#beleg-tags[data-ansicht="alt"] span:not(:last-child) {
  margin-right: 20px;
}

#beleg-tags[data-ansicht="neu"] {
  font-size: 14px;
}

#beleg-tags[data-ansicht="neu"] .tag {
  margin-right: 10px;
  white-space: nowrap;
}

#beleg-tags[data-ansicht="neu"] .tag:last-child {
  margin-right: 0;
}

#beleg-tags[data-ansicht="neu"] .tag img {
  margin-right: 3px;
  vertical-align: top;
}

#beleg-form-dwds td {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

#beleg hr {
  margin: 30px 0 10px;
  border: none;
  height: 1px;
  background-color: var(--linie);
}

#beleg hr.flach {
  margin-top: 20px;
}


/* FORMULAR-ELEMENTE ---------------------------- */

#beleg input[type="text"] {
  width: calc(100% - 12px);
}

#beleg #beleg-ul {
  width: calc(100% - 12px - 165px);
}

#beleg #beleg-ud {
  margin-left: 10px;
  width: 143px;
}

#beleg input[type="text"].dropdown-feld {
  width: calc(100% - 31px);
}

#beleg input[type="text"].fehler {
  outline-color: var(--textWarnung);
}

#beleg input[type="number"] {
  margin-left: 10px;
  width: 57px;
}

#beleg-import p {
  position: relative;
}

#beleg-import p:last-child {
  margin-bottom: 0;
}

#beleg-import span {
  position: absolute;
  top: 0;
  right: 0;
}

#beleg-import input[type="text"] {
  width: calc(100% - 12px - 2 * 79px); /* 79px Number-Feld */
}

#beleg-import #beleg-import-start {
  margin-left: 10px;
  width: 148px;
}

th:has(input[type="radio"]) {
  position: relative;
}

#beleg-import-hilfe {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: var(--iconHell);
}

#beleg-import-hilfe:hover {
  background-color: var(--text);
}

#beleg textarea {
  margin: 0 auto;
  min-height: 24px;
  max-height: 192px;
}

#beleg textarea:invalid {
  background: #fff url(../../img/zeilen-2,5-grau.svg) no-repeat left 2px;
}

#beleg textarea.dropdown-feld {
  width: calc(100% - 31px);
}

textarea#beleg-bs {
  overscroll-behavior: contain;
  min-height: 24px;
  max-height: 288px;
}

#beleg input[type="radio"] {
  margin-left: 25px;
}

#beleg label {
  color: var(--textFarbe);
}

#beleg-bewertung {
  width: max-content;
}

span#beleg-bewertung {
  margin-right: 20px;
}

#beleg-bewertung a.aktiv {
  background-color: var(--farbeStern);
}

#beleg-bewertung a.aktiv:focus {
  background-color: var(--farbe);
}

#beleg-an {
  margin: 0 auto;
  max-width: 550px;
}

#beleg-an p:last-child {
  margin-bottom: 0;
}

#beleg-an .anhaenge-item:hover {
  background-color: var(--hintergrund);
}

#beleg th:has(.beleg-ul-ud) {
  padding-right: 0;
}

.beleg-ul-ud {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.beleg-ul-ud:first-child {
  width: calc(100% - 165px - 5px);
}

.beleg-ul-ud:last-child {
  margin-left: 10px;
  padding-left: 6px;
  width: calc(155px - 6px);
}

.beleg-ul-ud .text-tools {
  right: 1px;
}

.beleg-ul-ud .text-tools-quelle {
  right: 73px;
}

.beleg-ul-ud:last-child .text-tools-quelle {
  right: 1px;
}

.beleg-lese .beleg-ul-ud {
  padding-left: 0;
}

.beleg-lese .beleg-ul-ud:first-child {
  width: calc(100% - 165px);
}

.beleg-lese .beleg-ul-ud:last-child {
  margin-left: 10px;
  width: 155px;
}

.beleg-lese .beleg-ul-ud p {
  display: inline-block;
  overflow: hidden;
  overflow-wrap: break-word;
  max-width: calc(100% - 10px);
}

/* METADATEN ------------------------------------ */

#beleg pre {
  margin: 0;
  border: 1px solid var(--linie);
  padding: 2px 5px;
  background-color: #fff;
  font-family: "Noto Sans Mono", "Noto Sans Symbols2", monospace;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  user-select: text;
  tab-size: 2;
  word-break: break-all;
}

#beleg .meta div {
  border: 1px solid var(--linie);
  padding: 2px 5px;
  width: calc(100% - 12px);
  background-color: #fff;
  user-select: text;
}

#beleg .meta #beleg-ui div {
  word-break: break-all;
}

#beleg-meta-toggle {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

#beleg .meta .text-tools a {
  margin-left: 24px;
}


/* TEXT-TOOLS ----------------------------------- */

.text-tools {
  position: absolute;
  right: 6px;
}

.text-tools-beleg,
.text-tools-bedeutung,
.text-tools-quelle {
  position: absolute;
  right: 78px;
}

@media (max-width: 750px) {
  .text-tools-beleg {
    overflow: hidden;
    width: 320px;
    white-space: nowrap;
  }
}

.text-tools a,
.text-tools-beleg a,
.text-tools-bedeutung a,
.text-tools-quelle a {
  display: inline-block;
  background-color: var(--iconHell);
}

.text-tools a:hover,
.text-tools-beleg a:hover,
.text-tools-bedeutung a:hover,
.text-tools-quelle a:hover {
  background-color: var(--text);
}

.text-tools-beleg a:first-child,
.text-tools-beleg a:nth-child(2),
.text-tools-beleg a:nth-child(6) {
  margin-right: 24px;
}

.text-tools-beleg a.text-link {
  padding: 0 5px;
  color: var(--textSehrHell);
  font-style: normal;
  background-color: transparent;
}

.text-tools-beleg a.text-link:hover {
  color: var(--text);
}

.icon-tools-aufrufdatum {
  mask-image: url(../../img/uhr.svg);
}

.icon-tools-auszug {
  mask-image: url(../../img/pfeil-doppelt-links.svg);
}

.icon-tools-belegschnitt {
  mask-image: url(../../img/klammern-schnitt.svg);
}

.icon-tools-buchen {
  mask-image: url(../../img/buch.svg);
}

.icon-tools-gebucht {
  mask-image: url(../../img/buch-check-gruen.svg);
}

.icon-tools-einfuegen {
  mask-image: url(../../img/einfuegen.svg);
}

.icon-tools-einzug {
  mask-image: url(../../img/pfeil-doppelt-rechts.svg);
}

.icon-tools-kopieren {
  mask-image: url(../../img/kopieren.svg);
}

.icon-tools-kopieren-referenz {
  mask-image: url(../../img/kopieren-referenz.svg);
}

.icon-tools-kopieren-text {
  mask-image: url(../../img/kopieren-text.svg);
}

.icon-tools-antiqua {
  mask-image: url(../../img/text-antiqua.svg);
}

.icon-tools-bold {
  mask-image: url(../../img/text-fett.svg);
}

.icon-tools-br {
  mask-image: url(../../img/text-br.svg);
}

.icon-tools-caps {
  mask-image: url(../../img/text-kapitaelchen.svg);
}

.icon-tools-clear {
  mask-image: url(../../img/pinsel.svg);
}

.icon-tools-header-an {
  mask-image: url(../../img/auge.svg);
}

.icon-tools-header-aus {
  mask-image: url(../../img/auge-durchgestrichen.svg);
}

.icon-tools-heading {
  mask-image: url(../../img/text-antiqua.svg);
}

.icon-tools-italic {
  mask-image: url(../../img/text-kursiv.svg);
}

.icon-tools-kuerzen {
  mask-image: url(../../img/kuerzung.svg);
}

.icon-tools-list-unordered {
  mask-image: url(../../img/liste-bullets-gross.svg);
}

.icon-tools-list-ordered {
  mask-image: url(../../img/liste-zahlen-gross.svg);
}

.icon-tools-mark {
  mask-image: url(../../img/text-markiert.svg);
}

.icon-tools-meta-plus {
  mask-image: url(../../img/plus.svg);
}

.icon-tools-meta-minus {
  mask-image: url(../../img/minus.svg);
}

.icon-tools-save {
  mask-image: url(../../img/speichern.svg);
}

.icon-tools-size {
  mask-image: url(../../img/text-gross.svg);
}

.icon-tools-sonderzeichen {
  mask-image: url(../../img/pi.svg);
}

.icon-tools-spacing {
  mask-image: url(../../img/text-gesperrt.svg);
}

.icon-tools-strike {
  mask-image: url(../../img/text-durchgestrichen.svg);
}

.icon-tools-superscript {
  mask-image: url(../../img/text-hochgestellt.svg);
}

.icon-tools-subscript {
  mask-image: url(../../img/text-tiefgestellt.svg);
}

.icon-tools-underline {
  mask-image: url(../../img/text-unterstrichen.svg);
}


/* LESEANSICHT ---------------------------------- */

.beleg-lese {
  display: none;
}

.leseansicht .beleg-lese {
  display: table-row;
}

.leseansicht .beleg-form {
  display: none;
}

.beleg-lese a {
  cursor: pointer;
}

.beleg-lese a:focus {
  text-decoration: underline;
}

.beleg-lese p {
  margin: 0 auto 10px;
  padding: 0 6px;
  max-width: 700px;
  user-select: text;
}

.beleg-lese p.einblenden {
  overflow: hidden;
  transition: height .5s ease;
}

#beleg-lese-bs:has(.belegschnitt) p:not(.gekuerzt) {
  color: var(--textSehrHell);
}

#beleg-lese-bs p .belegschnitt {
  color: var(--text);
}

#beleg .beleg-lese td {
  border-bottom: 1px solid var(--linie);
  padding-top: 10px;
}

#beleg .beleg-lese td#beleg-lese-meta {
  padding-top: 0;
}

#beleg-lese-meta div {
  margin-bottom: 10px;
  padding-left: 6px;
}

#beleg-lese-meta div > span {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  height: 24px;
  font-size: 14px;
}

#beleg-lese-meta div > span:not(.tag):first-child {
  margin-right: 20px;
}

#beleg-lese-meta div > span:last-child {
  margin-right: 0;
}

#beleg-lese-meta div > span.tag {
  white-space: nowrap;
}

#beleg-lese-meta div > span.tag img {
  vertical-align: top;
  margin-right: 3px;
}

#beleg-lese-meta div span span {
  overflow: hidden;
}

#beleg-form-bd {
  padding-top: 10px;
  user-select: text;
}

#beleg-form-bd:empty {
  padding-top: 0;
}

:is(#beleg-lese-bd, #beleg-form-bd) p {
  padding-left: 39px;
  text-indent: -39px;
}

:is(#beleg-lese-bd, #beleg-form-bd) b.zaehlung {
  display: inline-block;
  padding: 0 5px 0 15px;
  text-align: center;
  text-indent: 0;
}

:is(#beleg-lese-bd, #beleg-form-bd) a {
  vertical-align: bottom;
  background-color: var(--iconHell);
  cursor: default;
}

:is(#beleg-lese-bd, #beleg-form-bd) a:hover {
  background-color: var(--farbeRot);
}

:is(#beleg-lese-bd, #beleg-form-bd) a:focus {
  background-color: var(--farbe);
}
