@charset "utf-8";

/* Kopf ----------------------------------------- */
#beleg.padding-suchleiste {
	padding-bottom: 29px;
}

#beleg header {
	position: sticky;
	top: 70px;
	z-index: 2;
	padding: 0 0 10px 0;
	background-color: #fff;
}

#beleg header input:first-child {
	margin-left: 0;
}

#beleg.quick header {
	top: 99px;
}

#beleg header > div {
	position: relative;
	margin: 0 auto;
	max-width: 850px;
}

#beleg-buttons {
	position: relative;
	z-index: 1;
	padding-right: 50px;
	width: fit-content;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 25px);
}

#beleg-buttons input:last-child {
	margin-left: 45px;
}

/* Styles zu .beleg-opt-block → liste.css */
#beleg-opt {
	position: absolute;
	right: 0;
	top: 0;
	height: 24px;
}

/* Tabelle des Formulars ------------------------ */
#beleg table {
	margin: 0 auto 20px auto;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	padding: 15px;
	width: calc(100% - 104px);
	min-width: 500px;
	max-width: 850px;
	background-color: var(--hintergrund);
}

#beleg h2 {
	position: sticky;
	top: 104px;
	z-index: 2;
	margin: 0 auto;
	padding: 21px 0 10px; /* 21px von oben, damit identische Position mit Überschrift Bedeutungsgerüst */
	width: calc(100% - 104px);
	min-width: 500px;
	max-width: 850px;
	background-color: #fff;
	color: var(--textFarbe);
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 38px;
	text-align: left;
}

#beleg-geaendert {
	margin-left: 10px;
}

#beleg th {
	position: relative;
	padding: 10px 35px 0 11px;
	width: calc(50% - 46px);
	color: var(--textFarbe);
	vertical-align: top;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

#beleg th[colspan="2"] {
	width: auto;
}

#beleg td {
	position: relative;
	padding: 0 5px;
	width: calc(50% - 10px);
	vertical-align: top;
}

#beleg td[colspan="2"] {
	width: auto;
}

#beleg td.check div {
	display: flex;
	flex-wrap: wrap;
}

#beleg td.check p {
	flex: 1 0 130px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
}

#beleg td.check p:last-child {
	padding-right: 0;
}

#beleg-form-dwds td {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
}

#beleg hr {
	margin: 30px 0 10px 0;
	border: none;
	height: 1px;
	background-color: var(--linie);
}

/* Formular-Elemente ---------------------------- */
#beleg input[type="text"] {
	width: calc(100% - 12px);
}

#beleg input[type="text"].dropdown-feld {
	width: calc(100% - 31px);
}

#beleg input[type="text"].fehler {
	outline-color: var(--textWarnung);
}

#beleg input[type="number"] {
	margin-left: 10px;
	width: 57px;
}

#beleg input[type="text"]#beleg-dta {
	width: calc(100% - 12px - 79px - 145px); /* 64px Number-Feld, 145px Button */
}

#beleg-dta-button {
	margin-left: 10px;
	width: 135px;
}

#beleg-datei-importieren {
	width: 135px;
}

#beleg-datei-oeffnen {
	width: 85px;
}

#beleg-form-datei {
	line-height: 30px;
	text-align: right;
}

#beleg-datei-name {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	width: calc(100% - 25px - 22px - 52px - 95px - 145px); /* margin, checkbox, label, button1, button2 */
	max-width: calc(850px - 25px - 22px - 52px - 95px - 145px);
	text-overflow: ellipsis;
	white-space: nowrap;
}

#beleg-datei-name.leer {
	color: var(--textHell);
	font-style: italic;
}

#beleg-form-datei label {
	display: inline-block;
	width: 52px;
	text-align: left;
}

#beleg-form-datei input {
	margin-left: 10px;
}

#beleg-form-datei input[type="checkbox"] {
	margin-left: 25px;
}

#beleg textarea {
	margin: 0 auto;
	min-height: 24px;
	max-height: 192px;
}

#beleg textarea:invalid {
	background: #fff url(../../img/zeilen-2,5-grau.svg) no-repeat left 2px;
}

#beleg textarea.dropdown-feld {
	width: calc(100% - 31px);
}

textarea#beleg-bs {
	min-height: 24px;
	max-height: 288px;
}

#beleg input[type="radio"] {
	margin-left: 25px;
}

#beleg label {
	color: var(--textFarbe);
}

#beleg-bewertung a.aktiv {
	background-color: var(--farbeStern);
}

#beleg-bewertung a.aktiv:focus {
	background-color: var(--farbe);
}

#beleg-an {
	margin: 0 auto;
	max-width: 550px;
}

#beleg-an p:last-child {
	margin-bottom: 0;
}

#beleg-an .anhaenge-item:hover {
	background-color: var(--hintergrund);
}

/* Text-Tools ----------------------------------- */
.text-tools {
	position: absolute;
	right: 6px;
}

.text-tools-beleg,
.text-tools-bedeutung,
.text-tools-quelle {
	position: absolute;
	right: 78px;
}

@media (max-width: 750px) {
	.text-tools-beleg {
		overflow: hidden;
		width: 320px;
		white-space: nowrap;
	}
}

.text-tools a,
.text-tools-beleg a,
.text-tools-bedeutung a,
.text-tools-quelle a {
	display: inline-block;
	background-color: var(--iconHell);
}

.text-tools a:hover,
.text-tools-beleg a:hover,
.text-tools-bedeutung a:hover,
.text-tools-quelle a:hover {
	background-color: var(--text);
}

.text-tools-beleg a:first-child,
.text-tools-beleg a:nth-child(2),
.text-tools-beleg a:nth-child(5) {
	margin-right: 24px;
}

.text-tools-beleg a.text-link {
	padding: 0 5px;
	color: var(--textSehrHell);
	font-style: normal;
	background-color: transparent;
}

.text-tools-beleg a.text-link:hover {
	color: var(--text);
}

.icon-tools-aufrufdatum {
	-webkit-mask-image: url(../../img/uhr.svg);
	mask-image: url(../../img/uhr.svg);
}

.icon-tools-auszug {
	-webkit-mask-image: url(../../img/pfeil-doppelt-links.svg);
	mask-image: url(../../img/pfeil-doppelt-links.svg);
}

.icon-tools-buchen {
	-webkit-mask-image: url(../../img/buch.svg);
	mask-image: url(../../img/buch.svg);
}

.icon-tools-gebucht {
	-webkit-mask-image: url(../../img/buch-check-gruen.svg);
	mask-image: url(../../img/buch-check-gruen.svg);
}

.icon-tools-einfuegen {
	-webkit-mask-image: url(../../img/einfuegen.svg);
	mask-image: url(../../img/einfuegen.svg);
}

.icon-tools-einzug {
	-webkit-mask-image: url(../../img/pfeil-doppelt-rechts.svg);
	mask-image: url(../../img/pfeil-doppelt-rechts.svg);
}

.icon-tools-kopieren {
	-webkit-mask-image: url(../../img/kopieren.svg);
	mask-image: url(../../img/kopieren.svg);
}

.icon-tools-antiqua {
	-webkit-mask-image: url(../../img/text-antiqua.svg);
	mask-image: url(../../img/text-antiqua.svg);
}

.icon-tools-bold {
	-webkit-mask-image: url(../../img/text-fett.svg);
	mask-image: url(../../img/text-fett.svg);
}

.icon-tools-br {
	-webkit-mask-image: url(../../img/text-br.svg);
	mask-image: url(../../img/text-br.svg);
}

.icon-tools-caps {
	-webkit-mask-image: url(../../img/text-kapitaelchen.svg);
	mask-image: url(../../img/text-kapitaelchen.svg);
}

.icon-tools-clear {
	-webkit-mask-image: url(../../img/pinsel.svg);
	mask-image: url(../../img/pinsel.svg);
}

.icon-tools-heading {
	-webkit-mask-image: url(../../img/text-antiqua.svg);
	mask-image: url(../../img/text-antiqua.svg);
}

.icon-tools-italic {
	-webkit-mask-image: url(../../img/text-kursiv.svg);
	mask-image: url(../../img/text-kursiv.svg);
}

.icon-tools-kuerzen {
	-webkit-mask-image: url(../../img/kuerzung.svg);
	mask-image: url(../../img/kuerzung.svg);
}

.icon-tools-list-unordered {
	-webkit-mask-image: url(../../img/liste-bullets-gross.svg);
	mask-image: url(../../img/liste-bullets-gross.svg);
}

.icon-tools-list-ordered {
	-webkit-mask-image: url(../../img/liste-zahlen-gross.svg);
	mask-image: url(../../img/liste-zahlen-gross.svg);
}

.icon-tools-mark {
	-webkit-mask-image: url(../../img/text-markiert.svg);
	mask-image: url(../../img/text-markiert.svg);
}

.icon-tools-save {
	-webkit-mask-image: url(../../img/speichern.svg);
	mask-image: url(../../img/speichern.svg);
}

.icon-tools-size {
	-webkit-mask-image: url(../../img/text-gross.svg);
	mask-image: url(../../img/text-gross.svg);
}

.icon-tools-sonderzeichen {
	-webkit-mask-image: url(../../img/pi.svg);
	mask-image: url(../../img/pi.svg);
}

.icon-tools-spacing {
	-webkit-mask-image: url(../../img/text-gesperrt.svg);
	mask-image: url(../../img/text-gesperrt.svg);
}

.icon-tools-strike {
	-webkit-mask-image: url(../../img/text-durchgestrichen.svg);
	mask-image: url(../../img/text-durchgestrichen.svg);
}

.icon-tools-superscript {
	-webkit-mask-image: url(../../img/text-hochgestellt.svg);
	mask-image: url(../../img/text-hochgestellt.svg);
}

.icon-tools-subscript {
	-webkit-mask-image: url(../../img/text-tiefgestellt.svg);
	mask-image: url(../../img/text-tiefgestellt.svg);
}

.icon-tools-underline {
	-webkit-mask-image: url(../../img/text-unterstrichen.svg);
	mask-image: url(../../img/text-unterstrichen.svg);
}

/* Leseansicht ---------------------------------- */
.beleg-lese {
	display: none;
}

.leseansicht .beleg-lese {
	display: table-row;
}

.leseansicht .beleg-form {
	display: none;
}

.beleg-lese a {
	cursor: pointer;
}

.beleg-lese a:focus {
	text-decoration: underline;
}

.beleg-lese p {
	margin: 0 auto 10px auto;
	padding: 0 6px;
	max-width: 700px;
	user-select: text;
}

.beleg-lese p.einblenden {
	overflow: hidden;
	transition: height .5s ease;
}

#beleg .beleg-lese td {
	border-bottom: 1px solid var(--linie);
	padding-top: 10px;
}

#beleg .beleg-lese td#beleg-lese-meta {
	padding-top: 0;
}

#beleg-lese-meta div {
	margin-bottom: 10px;
	padding-left: 6px;
	height: 24px;
}

#beleg-lese-meta div > span {
	display: inline-block;
	margin-left: 20px;
	height: 24px;
}

#beleg-lese-meta div span span {
	overflow: hidden;
}

#beleg-lese-bd p {
	padding-left: 39px;
	text-indent: -39px;
}

#beleg-lese-bd b {
	display: inline-block;
	padding: 0 5px 0 15px;
	text-align: center;
	text-indent: 0;
}

#beleg-lese-bd a {
	vertical-align: bottom;
	background-color: var(--iconHell);
	cursor: default;
}

#beleg-lese-bd a:hover {
	background-color: var(--text);
}

#beleg-lese-bd a:focus {
	background-color: var(--farbe);
}
