@charset "utf-8";

/* Betroffene Elemente -------------------------- */
.dropdown-cont {
	position: relative;
}

input.dropdown-feld,
textarea.dropdown-feld {
	padding-right: 24px;
}

.dropdown-link-td { /* Dropdown-Link am Ende einer Tabellenzelle */
	position: absolute;
	top: 2px;
	right: 7px; /* 5px padding, 1px border, 1px outline */
}

.dropdown-link-element { /* Dropdown-Link, auf dem ein Element folgt */
	position: relative;
	top: 6px;
	left: -26px; /* 1px border, 1px outline */
	display: inline-block;
}

.dropdown-link-element ~ * {
	position: relative;
	left: -24px; /* der Link ist 24px breit */
}

.dropdown-link-haengend svg { /* Sonderregel für Dropdown-Links in hängenden Absätzen */
	position: relative;
	left: 24px;
}

.dropdown-link-td,
.dropdown-link-element {
	width: 24px;
	height: 24px;
	background-color: #fff;
	color: var(--textExtremHell);
}

.dropdown-link-td:focus,
.dropdown-link-element:focus {
	color: var(--farbe);
}

.dropdown-link-td:hover,
.dropdown-link-element:hover {
	color: var(--text);
}

.dropdown-link-td svg path,
.dropdown-link-element svg path {
	fill: currentcolor;
}

/* Dropdown-Fensterchen ---------------------------- */
#dropdown {
	position: absolute;
	z-index: 1; /* sonst überdeckt es nicht die relativ positionierten Tabellenzellen */
	box-shadow: var(--boxShadow);
	border: 1px solid var(--linie);
	border-radius: 3px;
	max-height: 200px; /* Höhe pro <span> = 25px, -1px für border-bottom */
	overflow-y: auto;
	background-color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-indent: 0; /* nötig wegen des Dropdowns im Optionen-Fenster */
}

#dropdown span {
	display: block;
	border-bottom: 1px solid var(--linie);
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

#dropdown span:last-child {
	border-bottom: none;
}

#dropdown span:hover {
	background-color: var(--highlight);
}

#dropdown span.aktiv {
	background-color: var(--highlight);
}

#dropdown span.keine-vorschlaege {
	color: var(--textSehrHell);
	font-style: italic;
	cursor: default;
}

#dropdown span.keine-vorschlaege:hover {
	background-color: transparent;
}
