@charset "utf-8";

/* Quick-Access-Bar ----------------------------- */
#quick {
	position: fixed;
	top: -29px;
	left: 0;
	z-index: 2;
	border-bottom: 1px dotted var(--linie);
	padding: 2px 10px;
	width: calc(100% - 20px);
	height: 24px;
	background-color: var(--farbe);
	transition: top .5s ease;
}

#quick.an {
	top: 0;
}

#quick a {
	margin-right: 5px;
	background-color: #fff;
}

#quick-programm-einstellungen {
	-webkit-mask-image: url(../../img/quick-einstellungen.svg);
	mask-image: url(../../img/quick-einstellungen.svg);
}

#quick-programm-beenden {
	-webkit-mask-image: url(../../img/quick-beenden.svg);
	mask-image: url(../../img/quick-beenden.svg);
}

#quick-kartei-erstellen {
	-webkit-mask-image: url(../../img/quick-erstellen.svg);
	mask-image: url(../../img/quick-erstellen.svg);
}

#quick-kartei-oeffnen {
	-webkit-mask-image: url(../../img/quick-oeffnen.svg);
	mask-image: url(../../img/quick-oeffnen.svg);
}

#quick-kartei-speichern {
	-webkit-mask-image: url(../../img/quick-speichern.svg);
	mask-image: url(../../img/quick-speichern.svg);
}

#quick-kartei-speichern-unter {
	-webkit-mask-image: url(../../img/quick-speichern-unter.svg);
	mask-image: url(../../img/quick-speichern-unter.svg);
}

#quick-kartei-wortstamm {
	-webkit-mask-image: url(../../img/quick-wortstamm.svg);
	mask-image: url(../../img/quick-wortstamm.svg);
}

#quick-kartei-notizen {
	-webkit-mask-image: url(../../img/quick-notizen.svg);
	mask-image: url(../../img/quick-notizen.svg);
}

#quick-kartei-anhaenge {
	-webkit-mask-image: url(../../img/quick-anhaenge.svg);
	mask-image: url(../../img/quick-anhaenge.svg);
}

#quick-kartei-lexika {
	-webkit-mask-image: url(../../img/quick-lexika.svg);
	mask-image: url(../../img/quick-lexika.svg);
}

#quick-kartei-metadaten {
	-webkit-mask-image: url(../../img/quick-metadaten.svg);
	mask-image: url(../../img/quick-metadaten.svg);
}

#quick-kartei-suche {
	-webkit-mask-image: url(../../img/quick-suche.svg);
	mask-image: url(../../img/quick-suche.svg);
}

#quick-kartei-schliessen {
	-webkit-mask-image: url(../../img/quick-schliessen.svg);
	mask-image: url(../../img/quick-schliessen.svg);
}

#quick-belege-hinzufuegen {
	-webkit-mask-image: url(../../img/quick-hinzufuegen.svg);
	mask-image: url(../../img/quick-hinzufuegen.svg);
}

#quick-belege-auflisten {
	-webkit-mask-image: url(../../img/quick-auflisten.svg);
	mask-image: url(../../img/quick-auflisten.svg);
}

#quick-belege-sortieren {
	-webkit-mask-image: url(../../img/quick-sortieren.svg);
	mask-image: url(../../img/quick-sortieren.svg);
}

.quick-spacer {
	display: inline-block;
	width: 20px;
}

/* Kopf allgemein ------------------------------- */
body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom: 10px solid #fff;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--farbe);
	transition: top .5s ease;
}

body > header.quick {
	top: 29px;
}

body > header h1,
body > header span {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
}

/* Wort ----------------------------------------- */
#wort.keine-kartei {
	font-size: 20px;
	font-style: italic;
}

#kartei-geaendert {
	visibility: hidden;
	margin-left: 10px;
}

#kartei-geaendert.geaendert {
	visibility: visible;
}

#notizen-icon img {
	position: relative;
	bottom: 18px;
	vertical-align: bottom;
	margin-left: 50px;
}

/* App-Icon ------------------------------------- */
#icon {
	position: absolute;
	top: 6px;
	right: 10px;
	width: 48px;
	height: 48px;
}
