@charset "utf-8";

/* Listensektion -------------------------------- */
@keyframes liste-re {
	0% {
		transform: translateX(var(--filterKeyframe));
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes liste-li {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(var(--filterKeyframe));
	}
}

#liste {
	position: relative; /* sonst bekomm ich keine offsetTop-Werte in der Belegliste */
	display: grid;
	grid-template-columns: var(--filter) calc(100% - var(--filter) - 15px); /* minus Breite Filterleiste und Gap */
	grid-gap: 15px;
	padding-left: 0;
	width: calc(100% - 10px); /* minus padding-right; diese Width ist für die Animation wichtig */
	height: calc(100vh - 70px);
	animation-name: liste-re;
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	transition: width .5s ease, margin-top .5s ease;
}

#liste.quick {
	margin-top: 99px;
	height: calc(100vh - 99px);
}

#liste.filter-aus {
	width: calc(100% + var(--filter) - 5px); /* plus Breite Filterleiste und minus verstecktem Gap */
	animation-name: liste-li;
}

#liste.preload { /* damit beim ersten Anzeigen der Liste keine Animation läuft */
	animation-duration: 0s;
}

#liste > div:first-child {
	background-color: var(--hintergrund);
}

:root {
	--filter: 300px;
	--filterKeyframe: -305px;
}

@media (min-width: 750px) {
	:root {
		--filter: 40vw;
		--filterKeyframe: calc(-40vw - 5px);
	}
}

@media (min-width: 1500px) {
	:root {
		--filter: 600px;
		--filterKeyframe: -605px;
	}
}

/* Filterleiste --------------------------------- */
#liste-filter {
	position: sticky;
	top: 70px; /* 70px + margin-top über dem ersten Element in #liste-filter */
	max-height: calc(100vh - 70px);
	overflow: hidden;
	transition: top .5s ease;
}

.quick #liste-filter {
	top: 99px; /* 99px + margin-top über dem ersten Element in #liste-filter */
	max-height: calc(100vh - 99px);
}

#liste-filter header {
	padding: 0 0 10px 10px;
	height: 24px;
	background-color: #fff;
}

#liste-filter-dynamisch {
	display: block;
}

.filter-kopf {
	position: relative;
	display: block;
	margin: 10px 0;
	padding: 3px 5px 2px 5px; /* ein bisschen krum, damit der Kopf exakt dieselbe Höhe hat, wie ein Listenkopf */
	background-color: var(--farbeB);
	color: #fff;
}

.filter-kopf:first-child {
	margin-top: 0;
}

.filter-kopf.aktiv {
	background-color: var(--aktiv);
}

.filter-kopf:focus,
.filter-kopf.aktiv:focus {
	background-color: var(--farbe);
}

.filter-kopf span {
	position: absolute;
	right: 5px;
	top: 3px;
	width: 24px;
	height: 24px;
	background-color: transparent;
	-webkit-mask-image: url(../../img/filter-reset-block.svg);
	mask-image: url(../../img/filter-reset-block.svg);
}

.filter-kopf:hover span {
	background-color: #fff;
}

.filter-cont {
	margin: 0 10px 0 9px; /* vgl. .filter-cont p */
}

.filter-cont-max {
	margin-bottom: 10px;
	max-height: 348px;
	overflow-y: auto;
}

.filter-cont-max p:last-child {
	margin-bottom: 0;
}

.filter-cont a:focus {
	text-decoration: underline;
}

.filter-cont p {
	margin-bottom: 0;
	padding: 0 0 5px 25px; /* 25px, sonst wird der outline links abgeschnitten; vgl. .filter-cont */
	text-indent: -24px;
}

.filter-cont p.no-indent {
	margin-bottom: 10px;
	padding: 0;
	text-indent: 0;
}

.filter-cont p.small {
	margin-bottom: 5px;
}

.filter-baum p {
	padding-bottom: 0;
}

.filter-baum > .filter-baum {
	margin: 0 0 0 8px;
	border-left: 1px dotted var(--linie);
	padding: 5px 0 5px 14px;
	text-indent: 0;
}

.filter-baum > .filter-baum:last-child {
	padding-bottom: 0;
}

p.no-indent + .filter-baum, /* betrifft Verschiedenes > Filterlogik */
.filter-baum + .filter-baum {
	padding-top: 0;
}

.filter-cont > .filter-baum {
	padding: 5px 0 0 0;
}

.filter-cont > .filter-baum:first-child {
	padding-top: 0;
}

.filter-treffer {
	display: inline-block;
	margin-left: 10px;
	color: var(--textHell);
	text-indent: 0; /* wegen des text-indent in p */
}

#filter-volltext {
	width: calc(100% - 12px);
}

#filter-erweiterte {
	padding-left: 24px;
	background: url(../../img/erweiterte-auf.svg) no-repeat left -2px;
}

#filter-erweiterte.aktiv {
	background-image: url(../../img/erweiterte-zu.svg);
}

#filter-erweiterte-cont {
	padding-left: 24px;
}

#filter-erweiterte-cont h3 {
	margin: 15px 0 5px 0;
	color: var(--text);
	font-style: normal;
}

#filter-erweiterte-cont p {
	margin-bottom: 5px;
}

.filter-erweiterte-flex {
	display: flex;
	flex-wrap: wrap;
}

.filter-erweiterte-flex p {
	flex: 1 0 130px;
	padding: 0;
	max-width: 130px;
	text-indent: 0;
}

#filter-datenfelder {
	margin-left: 36px;
}

#liste-filter input[type="radio"] {
	margin-left: 15px;
}

#liste-filter input[type="radio"]:first-child {
	margin-left: 0;
}

#liste-filter label {
	color: var(--textFarbe);
}

#filter-bewertung {
	margin: 5px 0 0 22px;
}

#filter-bewertung a.aktiv {
	background-color: var(--farbeStern);
}

#filter-bewertung a.aktiv:focus {
	background-color: var(--farbe);
}

#liste-filter-keine {
	display: none;
	margin-top: 11px;
	color: var(--textSehrHell);
	font-style: italic;
	text-align: center;
}

.keine-filter #liste-filter-keine {
	display: block;
}

.keine-filter header span,
.keine-filter .filter-kopf,
.keine-filter .filter-cont {
	display: none;
}

/* Belegliste: Header --------------------------- */
#liste-belege {
	position: relative;
}

#liste-belege header {
	position: sticky;
	top: 70px;
	z-index: 1;
	padding: 0 0 10px 0;
	width: 100%;
	height: 24px;
	overflow: hidden;
	background-color: #fff;
	white-space: nowrap;
	transition: top .5s ease;
}

.quick #liste-belege header {
	top: 99px;
}

.icon-bearbeiten {
	-webkit-mask-image: url(../../img/liste-bearbeiten.svg);
	mask-image: url(../../img/liste-bearbeiten.svg);
}

.bedeutungen-opt-block,
.beleg-opt-block,
.filter-ctrl-block,
.liste-opt-block {
	display: inline-block;
	margin-left: 25px;
	height: 24px;
}

.beleg-opt-block:first-child,
.filter-ctrl-block:first-child,
.liste-opt-block:first-child {
	margin-left: 0;
}

.bedeutungen-opt-block a,
.beleg-opt-block a,
.filter-ctrl-block a,
.liste-opt-block a {
	display: inline-block;
	border-right: 1px solid var(--linie);
	padding: 0 5px;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-color: var(--hintergrund);
	color: var(--text);
	text-decoration: none;
}

.bedeutungen-opt-block a:first-child,
.beleg-opt-block a:first-child,
.filter-ctrl-block a:first-child,
.liste-opt-block a:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.bedeutungen-opt-block a:last-child,
.beleg-opt-block a:last-child,
.filter-ctrl-block a:last-child,
.liste-opt-block a:last-child,
.liste-opt-block:not(.liste-opt-anzeige-an):not(:hover):not(:focus-within) a.liste-opt-anzeige-letztes {
	border-right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.bedeutungen-opt-block a:focus,
.beleg-opt-block a:focus,
.filter-ctrl-block a:focus,
.liste-opt-block a:focus {
	background-color: var(--hintergrund);
	color: var(--farbe);
}

.beleg-opt-block a.aktiv,
.filter-ctrl-block a.aktiv,
.liste-opt-block a.aktiv {
	background-color: var(--aktiv);
	color: #fff;
}

.beleg-opt-block a.aktiv:focus,
.filter-ctrl-block a.aktiv:focus,
.liste-opt-block a.aktiv:focus {
	background-color: var(--farbe);
}

.bedeutungen-opt-block svg path,
.beleg-opt-block svg path,
.filter-ctrl-block svg path,
.liste-opt-block svg path {
	fill: currentcolor;
}

.liste-opt-block .liste-text {
	width: auto;
}

.liste-opt-block .liste-link-zeitschnitte {
	text-align: center;
	width: 32px;
}

.liste-opt-anzeige a:not(.aktiv) {
	display: none;
}

.liste-opt-anzeige:hover a,
.liste-opt-anzeige:focus-within a,
.liste-opt-anzeige.liste-opt-anzeige-an a {
	display: inline-block;
}

.liste-strike {
	position: relative;
}

.liste-strike::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 40%;
  right: 2px;
  border-top: 3px solid var(--farbeRot);
}

#liste-belege-anzahl {
	position: absolute;
	right: 0;
	padding: 0 5px 0 25px;
	background-color: #fff;
}

#liste-belege-anzahl.belege-gefiltert {
	color: var(--textWarnung);
}

/* Belegliste: Content -------------------------- */
#liste-belege-cont {
	margin: 0 0 25px 0;
}

#liste-belege-cont a,
#liste-belege-cont span {
	display: inline-block;
}

.liste-kopf {
	border-top: 1px solid var(--linie);
	border-left: 3px solid var(--farbeB);
	padding: 2px 10px;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--hintergrund);
}

.liste-kopf .liste-textsorte {
	font-variant: small-caps;
}

.liste-kopf.hinweis-beleg {
	background-color: var(--farbeGruen);
	color: #fff;
}

.liste-kopf.hinweis-beleg .liste-jahr-hinweis:after,
.liste-kopf.hinweis-beleg mark {
	color: #fff;
}

.liste-kopf mark {
	padding: 0;
	background-color: transparent;
	font-weight: bold;
}

#liste-belege-cont .liste-autor-detail {
	display: none;
}

.liste-kopf.schnitt-offen {
	text-overflow: clip;
}

#liste-belege-cont .liste-kopf.schnitt-offen .liste-autor-detail {
	display: inline-block;
}

.liste-kopf.schnitt-offen q {
	visibility: hidden;
}

.liste-bearbeiten {
	margin-right: 15px;
	background-color: var(--textExtremHell);
}

.liste-bearbeiten:hover {
	background-color: var(--text);
}

.liste-jahr {
	margin-right: 15px;
	font-style: italic;
}

.liste-jahr-hinweis:after {
	content: "*";
	position: relative;
	left: 3px;
	color: var(--textWarnung);
}

.liste-details {
	border-left: 3px solid var(--farbeB);
	padding: 10px 10px 20px 49px;
	height: auto;
	background-color: transparent;
	user-select: text;
}

.liste-details > div {
	position: relative; /* für die Positionierung der Kopier-Links */
	margin-top: 10px;
}

.liste-details > div:first-child {
	margin-top: 0;
}

.liste-details .icon-link {
	position: absolute;
	top: 10px; /* padding-top */
	left: -39px;
	background-color: var(--textExtremHell);
	user-select: none;
	cursor: default;
}

.liste-details .icon-link[data-ds$="|bs"] { /* Beleg hat keinen padding-top */
	top: 0;
}

.liste-details .icon-link:hover {
	background-color: var(--text);
}

.liste-details a {
	cursor: pointer;
}

.liste-details p {
	max-width: 650px;
}

.liste-details p:last-child {
	margin-bottom: 0;
}

div.liste-label {
	position: relative;
	border-top: 1px dotted var(--linie);
	padding: 10px 10px 0 10px;
	max-width: 630px;
}

span.liste-label {
	position: absolute;
	top: -9px;
	right: 10px;
	padding: 0 5px;
	background-color: #fff;
	color: var(--textFarbe);
	font-size: 12px;
	line-height: 16px;
	user-select: none;
}

.liste-bd p,
.liste-bl p,
.liste-qu p,
.liste-kr p,
.liste-ts p,
.liste-no p {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
}

.liste-meta {
	border-radius: 3px;
	padding: 5px 10px;
	width: fit-content;
	height: 24px;
	background-color: var(--hintergrund);
	user-select: none;
}

.liste-meta img {
	margin-right: 5px;
	vertical-align: top;
}

.liste-meta img:last-child {
	margin-right: 0;
}

.liste-meta > span {
	display: inline-block;
	margin-left: 20px;
	overflow: hidden;
}

.liste-meta > span:first-child {
	margin-left: 0;
}

.liste-stern {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: var(--farbeStern);
}

.liste-zeitschnitt,
.liste-keine-belege,
.liste-kartei-leer {
	border-top: 1px solid var(--linie);
	padding: 10px;
	background-color: transparent;
	color: var(--textFarbe);
	font-style: italic;
	text-align: center;
}

.liste-keine-belege,
.liste-kartei-leer {
	color: var(--textSehrHell);
}
