@charset "utf-8";

/* Bedeutungenbaum ------------------------------ */
@import url(../bedeutungenbaum.css);

/* Alle Overlay-Fenster ------------------------- */
#anhaenge,
#dialog,
#drucken,
#einstellungen,
#lexika,
#meta,
#notizen,
#redaktion,
#stamm,
#zeitraumgrafik {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 0 25px;
	width: calc(100% - 50px); /* 50px padding */
	height: 100%;
	background-color: rgba(180, 180, 180, .7);
}

#anhaenge > div,
#dialog > div,
#drucken > div,
#einstellungen > div,
#lexika > div,
#meta > div,
#notizen > div,
#redaktion > div,
#stamm > div,
#zeitraumgrafik > div {
	margin: 80px auto 0 auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0;
	background-color: #fff;
}

#anhaenge h2,
#dialog h2,
#drucken h2,
#einstellungen h2,
#lexika h2,
#meta h2,
#notizen h2,
#redaktion h2,
#stamm h2,
#zeitraumgrafik h2 {
	position: relative;
}

#anhaenge h2 a,
#dialog h2 a,
#drucken h2 a,
#einstellungen h2 a,
#lexika h2 a,
#meta h2 a,
#notizen h2 a,
#redaktion h2 a,
#stamm h2 a,
#zeitraumgrafik h2 a {
	position: absolute;
	top: 2px;
	right: 5px;
	background-color: #fff;
}

.icon-schliessen {
	-webkit-mask-image: url(../../img/heading-schliessen.svg);
	mask-image: url(../../img/heading-schliessen.svg);
}

.overlay {
	opacity: 0;
	transition: opacity .2s ease;
}

.overlay.einblenden {
	opacity: 1;
}

/* Einstellungen -------------------------------- */
#einstellungen > div {
	margin-top: 40px;
	max-width: 700px;
}

.icon-h-einstellungen {
	-webkit-mask-image: url(../../img/heading-einstellungen.svg);
	mask-image: url(../../img/heading-einstellungen.svg);
}

#einstellungen-cont {
	display: grid;
	grid-template-columns: 155px calc(100% - 155px);
}

#einstellungen-cont > div {
	padding: 10px 10px 10px 15px;
}

#einstellungen-cont > div:first-child {
	padding: 10px 0 20px 0;
	background-color: var(--hintergrund);
	border-bottom-left-radius: 10px;
}

#einstellungen-cont table {
	margin: 0 0 10px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

#einstellungen-cont td {
	padding: 0 5px;
	vertical-align: top;
}

#einstellungen-cont td:first-child {
	padding-left: 0;
}

#einstellungen-cont td:last-child {
	padding-right: 0;
}

#einstellungen-cont ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#einstellungen-cont li {
	margin-bottom: 10px;
}

#einstellungen-cont li a {
	display: block;
	padding: 2px 5px;
	background-color: var(--farbeB);
	color: #fff;
}

#einstellungen-cont li a.aktiv {
	background-color: var(--aktiv);
}

#einstellungen-cont li a:focus,
#einstellungen-cont li a.aktiv:focus {
	background-color: var(--farbe);
}

#einstellungen-cont input[type="text"] {
	width: 185px;
	color: var(--farbe);
}

#einstellungen-cont input[type="number"] {
	width: 50px;
	color: var(--farbe);
}

#einstellungen-cont input[type="checkbox"] {
	margin-right: 9px; /* für alignment mit Überschrift */
}

#einstellungen-cont label[for="einstellung-bearbeiterin"],
#einstellungen-cont label[for="einstellung-timeout"] {
	margin-left: 10px;
}

#einstellungen-cont p {
	padding-left: 24px; /* für alignment mit Überschrift */
	text-indent: -24px; /* so sind mehrzeilige Texte im Block (hängt von checkbox ab) */
}

#einstellungen-cont p:last-child {
	margin-bottom: 0;
}

#einstellungen-cont p.button {
	margin-bottom: 25px;
	padding-left: 0;
	text-indent: 0;
}

#einstellungen-cont p.button input {
	margin-left: 0;
	width: 216px;
}

#einstellungen-cont p.einzug {
	margin-left: 24px;
}

#einstellungen-cont .einstellungen-spalten {
	columns: 2;
	padding-left: 24px;
}

#einstellungen-cont .einstellungen-spalten h3 {
	margin: 10px 0 5px 0;
}

#einstellungen-cont .einstellungen-spalten h3:first-child {
	margin-top: 0;
}

#einstellungen-cont .einstellungen-spalten p {
	margin-bottom: 5px;
	padding-left: 1px; /* damit beim Fokussieren der Checkbox der linke Rand nicht abgeschnitten erscheint */
	overflow: hidden;
	text-indent: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.einstellung-neustart {
	color: var(--textWarnung);
}

.einstellungen-spacer {
	height: 5px;
}

#einstellungen-cont .sachgebiete.gefuellt {
	width: 100%;
	table-layout: fixed;
}

#einstellungen-cont .sachgebiete tr:first-child td {
	padding-bottom: 10px;
}

#einstellungen-cont .sachgebiete td:last-child {
	width: 105px;
}

#einstellungen-cont .sachgebiete img {
	vertical-align: top;
}

#einstellungen-cont .sachgebiete input {
	margin: 0;
	width: 105px;
}

#sachgebiete-datei {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sachgebiete.leer,
#sachgebiete-datei.leer {
	direction: ltr;
	color: var(--textSehrHell);
	font-style: italic;
}

#sachgebiete-abgleich {
	margin-bottom: 5px;
}

#sachgebiete-abgleich + p,
#sachgebiete-abgleich + p + p {
	margin-bottom: 0;
	color: var(--textHell);
	font-size: 14px;
	line-height: 20px;
}

#sachgebiete-abgleich + p i,
#sachgebiete-abgleich + p + p i {
	display: inline-block;
	width: 110px;
	text-indent: 0;
}

/* Formvarianten ------------------------ */
#stamm > div {
	margin-top: 40px;
	max-width: 350px;
}

.icon-h-stamm {
	-webkit-mask-image: url(../../img/heading-formvarianten.svg);
	mask-image: url(../../img/heading-formvarianten.svg);
}

#stamm-cont {
	padding: 10px;
}

#stamm-cont p.dta {
	margin-bottom: 5px;
	text-align: right;
}

#stamm-cont input[type="button"] {
	margin-left: 5px;
	width: 132px;
	text-align: left;
}

#lexika-cont input[type="button"],
#meta-cont input[type="button"] {
	margin-left: 5px;
	width: 116px;
}

#stamm-cont input[type="text"] {
	width: calc(100% - 137px - 12px); /* Button 137px, 12px padding und border */
}

#lexika-cont input[type="text"] {
	width: calc(100% - 121px - 12px); /* Button 121px, 12px padding und border */
}

#meta-cont input[type="text"] {
	width: calc(100% - 121px - 31px); /* Button 121px, 31px padding und border */
}

#stamm-liste,
#meta-be-liste {
	margin-bottom: 10px;
	max-height: 290px;
	overflow-x: hidden;
	overflow-y: auto;
}

#stamm-liste .icon-link,
#meta-be-liste .icon-link {
	position: relative;
	top: -1px;
	margin-right: 10px;
	vertical-align: bottom;
	background-color: var(--textExtremHell);
}

#stamm-liste .icon-link:focus,
#meta-be-liste .icon-link:focus {
	background-color: var(--farbe);
}

#stamm-liste .icon-link:hover,
#meta-be-liste .icon-link:hover {
	background-color: var(--text);
}

#stamm-liste p {
	margin-bottom: 5px;
	height: 24px;
}

#stamm-liste .platzhalter {
	display: inline-block;
	margin-right: 10px;
	width: 24px;
}

#stamm-liste .dta {
	display: inline-block;
	margin-left: 7px;
	color: var(--textDTA);
	font-size: 12px;
}

.icon-entfernen {
	-webkit-mask-image: url(../../img/meta-entfernen.svg);
	mask-image: url(../../img/meta-entfernen.svg);
}

/* Notizen -------------------------------------- */
#notizen > div {
	margin-top: 40px;
	max-width: 650px;
}

.icon-h-notizen {
	-webkit-mask-image: url(../../img/heading-notizen.svg);
	mask-image: url(../../img/heading-notizen.svg);
}

#notizen-cont {
	padding: 10px;
}

#notizen-cont textarea {
	min-height: 192px;
	max-height: 384px;
}

#notizen-cont p {
	position: relative;
	margin: 10px 0 0 0;
}

#notizen-cont p input:first-child {
	margin-left: 0;
}

#notizen-cont p input:last-child {
	position: absolute;
	right: 0;
}

#notizen-geaendert {
	display: inline-block;
	margin-left: 5px;
}

/* Anhänge -------------------------------------- */
#anhaenge > div {
	margin-top: 40px;
	max-width: 550px;
}

.icon-h-anhaenge {
	-webkit-mask-image: url(../../img/heading-anhaenge.svg);
	mask-image: url(../../img/heading-anhaenge.svg);
}

#anhaenge-rahmen {
	padding: 10px;
}

#anhaenge-cont {
	max-height: 385px;
	overflow-y: auto;
}

#anhaenge-cont h3 {
	margin-bottom: 5px;
}

#anhaenge-cont p:last-child {
	margin-bottom: 0;
} 

.anhaenge-add {
	text-align: center;
}

.anhaenge-item {
	border-top: 1px solid var(--linie);
	padding: 5px 10px;
	height: 24px;
}

.anhaenge-item:last-child {
	margin-bottom: 5px;
	border-bottom: 1px solid var(--linie);
}

.anhaenge-item ~ h3 {
	margin-top: 0;
	border-top: 1px solid var(--linie);
	padding-top: 20px;
}

.anhaenge-item:hover {
	background-color: var(--hover);
}

.anhaenge-item img {
	margin-right: 10px;
}

.anhaenge-datei {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 34px * 3); /* 24px Image, 10px Margin */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.anhaenge-item a {
	margin-left: 10px;
	vertical-align: top;
	background-color: var(--textExtremHell);
}

.anhaenge-item a:focus {
	background-color: var(--farbe);
}

.anhaenge-item a:hover {
	background-color: var(--text);
}

.anhaenge-aufwaerts {
	-webkit-mask-image: url(../../img/anhaenge-aufwaerts.svg);
	mask-image: url(../../img/anhaenge-aufwaerts.svg);
}

.anhaenge-loeschen {
	-webkit-mask-image: url(../../img/loeschen.svg);
	mask-image: url(../../img/loeschen.svg);
}

.anhaenge-platzhalter {
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
}

/* Überprüfte Lexika ---------------------------- */
#lexika > div {
	margin-top: 40px;
	max-width: 500px;
}

.icon-h-lexika {
	-webkit-mask-image: url(../../img/heading-lexika.svg);
	mask-image: url(../../img/heading-lexika.svg);
}

#lexika-cont {
	padding: 10px;
}

#lexika-cont .input-text {
	margin: 5px 0 0 0;
}

#lexika-liste {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 232px;
	overflow: hidden;
}

#lexika-liste p {
	margin-bottom: 5px;
	padding: 0 10px 0 1px; /* 1px links, damit die linke Grenze des Outline onfocus angezeigt wird */
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Metadaten ------------------------------------ */
#meta > div {
	margin-top: 40px;
	max-width: 800px;
}

.icon-h-meta {
	-webkit-mask-image: url(../../img/heading-meta.svg);
	mask-image: url(../../img/heading-meta.svg);
}

#meta-cont {
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 15px));
	column-gap: 30px;
	padding: 10px 10px 5px 10px;
}

#meta-cont h3 {
	margin: 10px 0 5px 0;
}

#meta-cont p {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#meta-cont p.input-text {
	overflow: visible;
}

#meta-cont .kein-wert {
	color: var(--textSehrHell);
	font-style: italic;
}

#meta-speicherort {
	text-align: left; /* das Feld ist rtl, bei kurzem Inhalt wäre der Text sonst rechtsbündig */
}

#meta-be-liste {
	margin-bottom: 5px;
}

/* Redaktion ------------------------------------ */
#redaktion > div {
	margin-top: 40px;
	max-width: 800px;
}

.icon-h-redaktion {
	-webkit-mask-image: url(../../img/heading-redaktion.svg);
	mask-image: url(../../img/heading-redaktion.svg);
}

.icon-redaktion-aufwaerts {
	-webkit-mask-image: url(../../img/redaktion-aufwaerts.svg);
	mask-image: url(../../img/redaktion-aufwaerts.svg);
}

.icon-redaktion-loeschen {
	-webkit-mask-image: url(../../img/redaktion-loeschen.svg);
	mask-image: url(../../img/redaktion-loeschen.svg);
}

#redaktion-cont {
	padding: 10px;
}

#redaktion-cont .icon-link {
	background-color: var(--textExtremHell);
}

#redaktion-cont .icon-link:focus {
	background-color: var(--farbe);
}

#redaktion-cont .icon-link:hover {
	background-color: var(--text);
}

#redaktion-cont table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
}

#redaktion-cont th,
#redaktion-cont td {
	padding: 0 5px 5px 5px;
	vertical-align: top;
	line-height: 30px;
	white-space: nowrap;
}

#redaktion-cont th:first-child,
#redaktion-cont td:first-child {
	padding-left: 0;
	min-width: 24px;
	max-width: 24px;
}

#redaktion-cont td:nth-child(3) {
	white-space: normal;
	padding-left: 29px;
	text-indent: -29px;
}

#redaktion-cont td:nth-child(3).kein-einzug {
	padding-left: 5px;
	text-indent: 0;
}

#redaktion-cont td:nth-child(4) {
	white-space: normal;
}

#redaktion-cont th:last-child,
#redaktion-cont td:last-child {
	padding-right: 0;
	min-width: 24px;
	max-width: 24px;
}

#redaktion-cont th {
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

#redaktion-cont img {
	position: relative;
	top: 2px;
	margin-right: 5px;
	vertical-align: top;
}

input[id^="redaktion-datum"] {
	width: 110px;
}

input[id^="redaktion-ereignis"],
input[id^="redaktion-person"] {
	width: calc(100% - 31px);
}

/* Zeitraumgrafik ------------------------------- */
#zeitraumgrafik > div {
	margin-top: 40px;
	max-width: 720px;
}

.icon-h-zeitraumgrafik {
	-webkit-mask-image: url(../../img/heading-zeitraumgrafik.svg);
	mask-image: url(../../img/heading-zeitraumgrafik.svg);
}

#zeitraumgrafik-cont {
	padding: 10px;
}

#zeitraumgrafik-cont div {
	overflow-x: auto;
}

/* Dialog --------------------------------------- */
#dialog > div {
	max-width: 450px;
}

#dialog-h-prompt,
#dialog-h-confirm,
#dialog-h-alert {
	display: none;
}

.prompt #dialog-h-prompt,
.confirm #dialog-h-confirm,
.alert #dialog-h-alert {
	display: inline-block;
}

.prompt .icon-h {
	-webkit-mask-image: url(../../img/dialog-prompt.svg);
	mask-image: url(../../img/dialog-prompt.svg);
}

.confirm .icon-h {
	-webkit-mask-image: url(../../img/dialog-confirm.svg);
	mask-image: url(../../img/dialog-confirm.svg);
}

.alert .icon-h {
	-webkit-mask-image: url(../../img/dialog-alert.svg);
	mask-image: url(../../img/dialog-alert.svg);
}

#dialog-rahmen {
	padding: 10px;
}

#dialog-text {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

#dialog-text *:last-child {
	margin-bottom: 0;
}

#dialog input[type="text"] {
	width: calc(100% - 10px - 2px); /* 10px = padding, 2px = border */
}

#dialog p.button {
	margin-bottom: 0;
	text-align: right;
}

#dialog-confirm,
#dialog-ok,
#dialog-prompt {
	display: none;
	padding: 0 10px 10px 10px;
}

#dialog-prompt {
	padding-bottom: 0;
}

.alert #dialog-ok {
	display: block;
}

.alert #dialog-abbrechen-button {
	display: none;
}

.confirm #dialog-confirm {
	display: block;
}

.prompt #dialog-ok,
.prompt #dialog-prompt {
	display: block;
}

.prompt #dialog-abbrechen-button {
	display: inline-block;
}

/* Drucken -------------------------------------- */
#drucken > div {
	margin-top: 40px;
	max-width: 720px;
}

.icon-h-drucken {
	-webkit-mask-image: url(../../img/heading-drucken.svg);
	mask-image: url(../../img/heading-drucken.svg);
}

#drucken-head {
	position: relative;
	margin: 10px 0;
	text-align: center;
}

#drucken-head span {
	display: inline-block;
	border: 1px solid var(--linie);
	border-radius: 10px;
	padding: 5px;
	width: 78px;
}

#drucken-head span:first-child {
	margin-right: 40px;
}

#drucken-head span:hover {
	background-color: var(--hover);
}

#drucken-cont-rahmen {
	padding: 10px;
}

#drucken-cont {
	max-height: 400px;
	overflow-y: auto;
	color: #000;
	font-family: "Noto Serif", serif;
	user-select: text;
}

#drucken-cont h3 {
	border-top: 7px double #000;
	padding-top: 30px;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
}

#drucken-cont h3:first-child {
	border-top: none;
	padding-top: 0;
}

#drucken-cont mark.wort {
	padding: 0;
	background-color: var(--hintergrundDunkel);
	font-weight: bold;
}

#drucken-cont table {
	border-collapse: collapse;
	border-spacing: 0;
}

#drucken-cont th {
	border-bottom: 1px solid #000;
	padding: 10px 0 0 10px;
	width: calc(50% - 10px);
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

#drucken-cont td {
	padding: 10px 0 0 10px;
	width: calc(50% - 10px);
	vertical-align: top;
}

#drucken-cont th:first-child,
#drucken-cont td:first-child {
	padding-left: 0;
	width: 50%;
}

#drucken-cont th[colspan="2"],
#drucken-cont td[colspan="2"] {
	width: 100%;
}

#drucken-cont .dta-antiqua {
	font-family: "Noto Sans", "Noto Sans Symbols2", sans-serif;
	font-size: 100%;
}

#drucken-cont .bd-win-baum {
	border-color: transparent;
}
