@charset "utf-8";

/* ZEITRAUMGRAFIK ------------------------------- */

#zeitraumgrafik > div {
  margin-top: 40px;
  max-width: 740px;
}

.icon-h-zeitraumgrafik {
  mask-image: url(../../img/diagramm.svg);
}

#zeitraumgrafik-cont {
  padding: 10px;
}

#zeitraumgrafik-cont-over {
  overflow: auto;
  transition: max-height .5s ease;
}

#zeitraumgrafik-cont-over canvas {
  display: block;
  margin: 0 auto;
}
