@charset "UTF-8";

/* KOPIERFENSTER -------------------------------- */

#ctrlC > div {
  width: 510px;
}

#ctrlC-cont {
  padding: 10px;
}

#ctrlC-cont p {
  margin-bottom: 5px;
}

#ctrlC-cont label {
  display: inline-block;
  width: 220px;
}

#ctrlC-cont p.checkbox label {
  width: auto;
}

#ctrlC-cont input:disabled {
  background-color: var(--hintergrundDunkel);
}

#ctrlC-cont input:disabled + label {
  color: var(--textSehrHell);
}

#ctrlC-cont p.checkbox {
  margin-top: 15px;
}

#ctrlC-cont p:last-child {
  margin: 15px 0 0;
  text-align: right;
}
