@charset "utf-8";

/* Redaktion: Literaturdatenbank ---------------- */
#red-lit > div {
	margin-top: 40px;
	max-width: 700px;
}

#red-lit > div > div {
	padding: 10px;
}

#red-lit > div > div .icon-link {
	vertical-align: text-bottom;
	background-color: var(--textExtremHell);
}

#red-lit > div > div .icon-link:focus {
	background-color: var(--farbe);
}

#red-lit > div > div .icon-link:hover {
	background-color: var(--text);
}

/* Datenkbankpfad ------------------------------- */
#red-lit-pfad {
	position: relative;
}

#red-lit-pfad-changed {
	display: inline-block;
	width: 12px;
	color: var(--textSehrHell);
}

#red-lit-pfad-changed.changed {
	color: var(--textWarnung);
}

#red-lit-pfad-db {
	display: inline-block;
	vertical-align: text-bottom;
	padding: 0 6px;
	overflow: hidden;
	max-width: calc(100% - 168px); /* 12px Asterisk, 5 * 24px Icons, 2 * 12px Margin, 12px Padding */
	direction: rtl;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#red-lit-pfad-db.keine-db {
	color: var(--textSehrHell);
	direction: ltr;
	font-style: italic;
}

#red-lit-pfad-db span {
	margin-left: 6px;
	color: var(--textWarnung);
}

#red-lit-pfad-icons {
	position: absolute;
	right: 10px;
}

#red-lit-pfad-icons a:nth-child(3),
#red-lit-pfad-icons a:nth-child(4) {
	margin-left: 12px;
}

/* Navigation ----------------------------------- */
#red-lit input[type="radio"]:not(:first-child) {
	margin-left: 25px;
}

#red-lit label {
	color: var(--textFarbe);
	font-style: italic;
}

/* Suche ---------------------------------------- */
#red-lit-suche-form {
	margin: 0;
}

#red-lit-suche-text {
	margin-right: 15px;
	width: calc(100% - 194px); /* 12px Padding und Border, 15px Margin, 20px Label, 147px Datumsfeld */
	transition: background-color .5s linear;
}

#red-lit-suche-text.keine-treffer {
	background-color: var(--hintergrundRot);
}

#red-lit-suche-ab {
	margin-left: 5px;
	width: 130px;
}

#red-lit-suche-ab:invalid {
	color: var(--textSehrHell);
}

#red-lit-suche-form label {
	display: inline-block;
	width: 20px;
}

#red-lit-suche-sonder {
	margin: 5px 0 0 0;
	font-size: 12px;
	line-height: 18px;
}

#red-lit-suche-titel {
	margin-top: 10px;
	max-height: 500px;
	overflow: auto;
}

#red-lit-suche-titel .red-lit-snippet {
	border-bottom: 1px dotted var(--linie);
	padding: 10px;
}

#red-lit-suche-titel .red-lit-snippet:last-child {
	border-bottom: none;
}

#red-lit-suche-titel a:not(.icon-link) {
	cursor: pointer;
}

#red-lit-suche-sonder a:focus,
#red-lit-suche-titel a:not(.icon-link):focus {
	text-decoration: underline;
}

/* Eingabeformular ------------------------------ */
#red-lit-eingabe-meldung {
	margin-bottom: 20px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	padding: 2px 5px;
	background-color: var(--hintergrund);
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

#red-lit-eingabe-meldung.add {
	border-color: var(--grenzeGruen);
}

#red-lit-eingabe-meldung.change {
	border-color: var(--grenzeBlau);
}

#red-lit-eingabe-meldung.old {
	border-color: var(--grenzeRot);
}

#red-lit-eingabe-meldung span {
	padding-left: 3px;
	color: var(--textWarnung);
}

#red-lit-eingabe p.button {
	margin-bottom: 0;
	text-align: center;
}

#red-lit-eingabe input[type="button"] {
	margin-left: 0;
	width: 130px;
}

#red-lit-eingabe input[type="button"]:last-child {
	margin-left: 10px;
}

#red-lit-eingabe table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}

#red-lit-eingabe th {
	padding: 10px 35px 0 11px;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}

#red-lit-eingabe th:first-child {
	padding-left: 6px;
}

#red-lit-eingabe td {
	padding: 0 5px;
	width: calc(50% - 5px);
}

#red-lit-eingabe td:first-child {
	padding-left: 0;
}

#red-lit-eingabe td:last-child {
	padding-right: 0;
}

#red-lit-eingabe td[colspan] {
	width: 100%;
}

#red-lit-eingabe input[type="text"],
#red-lit-eingabe input[type="date"] {
	width: calc(100% - 12px);
}

#red-lit-eingabe input[type="date"]:invalid {
	color: var(--textSehrHell);
}

#red-lit-eingabe input[type="text"].dropdown-feld {
	width: calc(100% - 31px);
}

#red-lit-eingabe textarea {
	margin: 0 auto;
	min-height: 24px;
	max-height: 120px;
}

#red-lit-eingabe textarea:invalid {
	background: #fff url(../../img/zeilen-2,5-grau.svg) no-repeat left 2px;
}

#red-lit-eingabe textarea#red-lit-eingabe-no {
	min-height: 20px;
	max-height: 60px;
	font-size: 14px;
	line-height: 20px;
}

#red-lit-eingabe textarea#red-lit-eingabe-no:invalid {
	background: #fff url(../../img/zeilen-2,5-grau.svg) no-repeat left top;
}

/* Titelsnippet --------------------------------- */
.red-lit-snippet.aktiv {
	background-color: var(--hintergrund);
}

.red-lit-snippet p {
	margin: 0 0 0 25px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 20px;
	text-indent: -25px;
}

.red-lit-snippet p.sigle,
.red-lit-snippet p.aufnahme {
	position: relative;
	margin: 0;
	padding-left: 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-indent: 0;
}

.red-lit-snippet p.sigle .veraltet {
	display: inline-block;
	margin-left: 15px;
	color: var(--textWarnung);
	font-weight: normal;
}

.red-lit-snippet p.sigle .icons {
	position: absolute;
	right: 0;
}

.red-lit-snippet p.aufnahme {
	margin: 0 0 5px 0;
	font-weight: normal;
}

.red-lit-snippet p.meta {
	margin: 5px 0 0 0;
	color: var(--textHell);
}

.red-lit-snippet p.meta span {
	margin-left: 15px;
}

.red-lit-snippet i {
	margin-left: 15px;
	display: inline-block;
	text-indent: 0;
}

.red-lit-snippet i:first-child {
	margin-left: 0;
	width: 60px;
}
