@charset "UTF-8";

/* UPDATES-FENSTER ------------------------------ */

#updatesWin > div {
  max-width: 600px;
}

.icon-h-updates {
  mask-image: url(../../img/pfeil-kreis.svg);
}

#updatesWin-cont {
  padding: 10px;
}

#updatesWin-header.notes {
  margin-bottom: 25px;
}

#updatesWin-header p {
  text-align: center;
}

#updatesWin-header input {
  margin: 0;
  width: 100px;
}

#updatesWin-header input:last-child {
  margin-left: 25px;
}

#updatesWin-header a:focus {
  text-decoration: underline;
}

#updatesWin-header table {
  margin-top: 25px;
  border-spacing: 0;
}

#updatesWin-header td {
  padding: 0;
  color: var(--textHell);
  font-size: 14px;
}

#updatesWin-header tr:first-child td:first-child {
  color: var(--text);
}

#updatesWin-header tr:first-child td:last-child,
#updatesWin-header tr:last-child td:last-child {
  color: var(--farbeB);
}

#updatesWin-header img {
  margin-right: 5px;
  vertical-align: top;
}

#updatesWin-header td span {
  display: inline-block;
  margin: 0 5px 0 29px;
  width: 65px;
  color: var(--textHell);
  font-style: italic;
  text-align: right;
}

#updatesWin-header td span.auto-width {
  width: auto;
}

#updatesWin-notes {
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height .5s ease;
}

#updatesWin-notes h1 {
  margin: 25px 10px 10px 0;
  border-bottom: 1px solid var(--linie);
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

#updatesWin-notes h1:first-child {
  margin-top: 0;
}

#updatesWin-notes h2 {
  margin: 10px 0 5px;
  padding: 0;
  color: var(--farbeB);
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

#updatesWin-notes ul {
  margin: 0;
  padding: 0 0 0 35px;
  list-style-type: disc;
}
