@charset "utf-8";

/* GERÜST WECHSELN ------------------------------ */

#geruestwechseln > div {
  margin-top: 40px;
  max-width: 325px;
}

.icon-h-geruestwechseln {
  mask-image: url(../../img/geruest-zahnrad.svg);
}

#geruestwechseln-cont {
  padding: 10px 10px 10px 34px;
  text-align: center;
}

#geruestwechseln-cont span {
  display: inline-block;
}
