@charset "utf-8";

/* KOPIERFUNKTION ------------------------------- */

#kopieren-liste > div,
#kopieren-einfuegen > div {
  margin-top: 40px;
  max-width: 503px;
}

#kopieren-einfuegen > div {
  padding-bottom: 10px;
}

.icon-h-kopieren {
  -webkit-mask-image: url(../../img/kopieren.svg);
  mask-image: url(../../img/kopieren.svg);
}

.icon-h-einfuegen {
  -webkit-mask-image: url(../../img/einfuegen.svg);
  mask-image: url(../../img/einfuegen.svg);
}

#kopieren-einfuegen-over {
  overflow: auto;
  margin: 0 10px;
  transition: max-height .5s ease;
}

#kopieren-einfuegen h3 {
  margin: 20px 0 0;
}

#kopieren-einfuegen h3:first-child {
  margin-top: 10px;
}

#kopieren-liste-head,
#kopieren-einfuegen-head {
  position: relative;
  margin: 10px 0;
  text-align: center;
}

#kopieren-liste-head span,
#kopieren-einfuegen-head span {
  display: inline-block;
  margin-right: 25px;
  border: 1px solid var(--linie);
  border-radius: 10px;
  padding: 5px;
  width: 78px;
}

#kopieren-liste-head span:last-child,
#kopieren-einfuegen-head span:last-child {
  margin-right: 0;
}

#kopieren-liste-head span:hover,
#kopieren-einfuegen-head span:hover {
  background-color: var(--hover);
}

#kopieren-liste-cont-rahmen {
  padding: 10px;
}

#kopieren-liste-cont {
  overflow-y: auto;
  transition: max-height .5s ease;
}

#kopieren-liste-cont p {
  margin-bottom: 5px;
}

#kopieren-liste-cont p.keine,
#kopieren-einfuegen-daten p.keine,
#kopieren-einfuegen-bedeutungen p {
  color: var(--textSehrHell);
  font-style: italic;
  text-align: center;
}

#kopieren-einfuegen-daten,
#kopieren-einfuegen-bedeutungen,
#kopieren-einfuegen-formular {
  margin-top: 10px;
}

#kopieren-einfuegen-daten p,
#kopieren-einfuegen-bedeutungen p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid var(--linie);
}

#kopieren-einfuegen-daten p:first-child {
  border-top: 1px solid var(--linie);
}

#kopieren-einfuegen-daten p.keine,
#kopieren-einfuegen-bedeutungen p {
  border-color: transparent;
}

#kopieren-einfuegen-daten p:not(.keine):hover {
  background-color: var(--hover);
}

#kopieren-einfuegen-bedeutungen table {
  border-collapse: collapse;
  border-spacing: 0;
}

#kopieren-einfuegen-bedeutungen td {
  padding: 0 10px 5px 0;
  line-height: 30px;
}

#kopieren-einfuegen-bedeutungen tr:last-child td {
  padding-bottom: 0;
}

#kopieren-einfuegen-bedeutungen img {
  vertical-align: text-bottom;
}

#kopieren-einfuegen-bedeutungen input {
  outline: none;
  width: 95px;
  cursor: default;
}

#kopieren-einfuegen-bedeutungen a {
  top: 3px;
  right: 11px;
}

#kopieren-einfuegen-formular div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--linie);
}

#kopieren-einfuegen-formular div:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

#kopieren-einfuegen-formular p {
  margin-bottom: 5px;
  padding: 0 10px 0 1px; /* 1px links, damit die linke Grenze des Outline onfocus angezeigt wird */
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#kopieren-einfuegen-formular input + label {
  color: var(--textSehrHell);
}

#kopieren-einfuegen-formular input:checked + label {
  color: var(--textFarbe);
}
