@charset "UTF-8";

/* TAGGER --------------------------------------- */

#tagger > div {
  margin-top: 40px;
  max-width: 500px;
}

.icon-h-tagger {
  mask-image: url(../../img/etikett.svg);
}

#tagger-geaendert {
  margin-left: 5px;
}

#tagger-cont {
  padding: 10px;
}

#tagger-cont > p {
  margin-top: 25px;
}

#tagger-cont p:last-child {
  margin-bottom: 0;
}

#tagger-cont p input:first-child {
  margin-left: 0;
}

#tagger-bedeutung {
  margin-bottom: 25px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 28px;
  text-indent: -35px;
}

#tagger-bedeutung b.zaehlung {
  display: inline-block;
  margin-right: 10px;
  text-indent: 0;
}

#tagger-typen {
  /* padding, damit der Outline im ersten und
  letzten Element nicht abgeschnitten wird */
  padding: 1px 0;
  transition: max-height .5s ease;
}

#tagger-typen.leer {
  color: var(--textSehrHell);
  font-style: italic;
  text-align: center;
}

#tagger-typen i {
  display: inline-block;
  padding-right: 5px;
  width: 100px;
  overflow: hidden;
  vertical-align: top;
  color: var(--textFarbe);
  text-overflow: ellipsis;
}

#tagger-typen span[contenteditable] {
  display: inline-block;
  border: 1px solid var(--linie);
  padding: 2px 26px 2px 5px;
  width: calc(100% - 100px - 5px - 35px);
  line-height: 24px;
  color: var(--text);
  text-indent: 0;
}

#tagger-typen span[contenteditable]:focus {
  outline: 1px solid var(--farbe);
  border-color: var(--farbe);
}

#tagger-typen span[contenteditable].changed {
  outline-color: var(--farbeRot);
  border-color: var(--farbeRot);
}

#tagger-typen span[contenteditable].saved {
  outline-color: var(--farbeGruen);
  border-color: var(--farbeGruen);
}
