@charset "utf-8";

/* Karteisuche ---------------------------------- */
#karteisuche > div {
	position: relative;
	margin-top: 40px;
	max-width: 900px;
	max-height: calc(100vh - 80px);
}

.icon-h-karteisuche {
	-webkit-mask-image: url(../../img/lupe.svg);
	mask-image: url(../../img/lupe.svg);
}

.icon-filter {
	-webkit-mask-image: url(../../img/filter.svg);
	mask-image: url(../../img/filter.svg);
}

.icon-kartei {
	-webkit-mask-image: url(../../img/dokument-kartei.svg);
	mask-image: url(../../img/dokument-kartei.svg);
}

.icon-karteisuche-speichern {
	-webkit-mask-image: url(../../img/speichern.svg);
	mask-image: url(../../img/speichern.svg);
}

/* Suche läuft ---------------------------------- */
#karteisuche-suche-laeuft {
	position: absolute;
	top: 28px;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	height: calc(100% - 28px); /* 28px Kopfleiste */
	background-color: rgba(255, 255, 255, .7);
	color: var(--farbe);
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	backdrop-filter: blur(2px);
}

#karteisuche-suche-laeuft span {
	display: inline-block;
	width: 25px;
}

/* Content -------------------------------------- */
#karteisuche-cont {
	padding: 10px;
}

#karteisuche-cont input[type="button"] {
	margin-left: 0;
}

#karteisuche-cont h3 {
	position: relative;
	margin: 10px 0 0 0;
	overflow: hidden;
	padding: 0 0 0 4px;
	background-color: var(--farbeH);
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
}

#karteisuche-cont h3 .icon-h {
	margin-right: 5px;
	height: 24px;
}

#karteisuche-cont h3 .icon-link {
	position: absolute;
	right: 4px;
	background-color: #fff;
}

#karteisuche-cont h3 .icon-link:focus {
	background-color: var(--highlight);
}

#karteisuche-cont p + h3 {
	margin-top: 20px;
}

#karteisuche-cont h3 + div:not(#karteisuche-karteien) {
	padding: 10px 0;
}

/* Pfade & Filter ------------------------------- */
#karteisuche-pfade p {
	height: 24px;
}

#karteisuche-pfade a,
#karteisuche-add-filter a {
	margin: 0 5px 0 4px;
	vertical-align: top;
	background-color: var(--textExtremHell);
}

#karteisuche-pfade a:focus,
#karteisuche-add-filter a:focus {
	background-color: var(--farbe);
}

#karteisuche-pfade a:hover,
#karteisuche-add-filter a:hover {
	background-color: var(--text);
}

#karteisuche-pfade .add,
#karteisuche-add-filter {
	margin-bottom: 10px;
	width: fit-content;
	color: var(--textHell);
	font-style: italic;
}

#karteisuche-pfade .add:hover,
#karteisuche-add-filter:hover {
	color: var(--text);
}

#karteisuche-pfade .add:hover a,
#karteisuche-add-filter:hover a {
	background-color: var(--text);
}

#karteisuche-pfade span {
	display: inline-block;
	width: calc(100% - 34px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#karteisuche-pfade input {
	margin-left: 1px; /* damit beim Fokus das Outline links nicht abgeschnitten wird */
}

#karteisuche-pfade img {
	vertical-align: top;
}

#karteisuche-add-filter {
	margin: 0;
}

#karteisuche-filter p {
	margin: 10px 0 0 0;
	white-space: nowrap;
}

#karteisuche-filter p > a {
	vertical-align: text-bottom;
	margin: 0 5px 0 4px;
	background-color: var(--textExtremHell);
}

#karteisuche-filter p > a:hover {
	background-color: var(--text);
}

#karteisuche-filter p > a:focus {
	background-color: var(--farbe);
}

#karteisuche-filter p > span {
	display: inline-block;
	margin-left: 10px;
	height: 30px;
}

#karteisuche-filter p > a + span {
	margin-left: 0;
}

#karteisuche-filter span input[type="text"] {
	vertical-align: top;
	width: 100px;
}

#karteisuche-filter span input.karteisuche-volltext {
	width: 119px;
}

#karteisuche-filter span input.karteisuche-datum-typ {
	width: 75px;
}

#karteisuche-filter span input.karteisuche-datum-dir {
	width: 25px;
}

#karteisuche-filter input:read-only {
	cursor: default;
}

#karteisuche-filter input[type="date"] {
	width: 127px;
}

#karteisuche-filter input[type="checkbox"] {
	z-index: 0;
}

#karteisuche-filter label {
	color: var(--textFarbe);
}

#karteisuche-filter .dropdown-link-td {
	top: 3px;
	right: 2px;
}

/* Karteien ------------------------------------- */
#karteisuche-treffer {
	margin-left: 5px;
}

#karteisuche-karteien {
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

#karteisuche-karteien p {
	margin: 0;
	border-bottom: 1px solid var(--linie);
}

#karteisuche-karteien p:first-child {
	border-top: 1px solid var(--linie);
}

#karteisuche-karteien a {
	display: block;
	padding: 5px 10px;
	height: 25px;
	overflow: hidden;
	line-height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#karteisuche-karteien a:focus,
#karteisuche-karteien a:hover {
	background-color: var(--hover);
}

#karteisuche-karteien span:last-child {
	margin-left: 10px;
	color: var(--text);
	font-size: 12px;
}
