@charset "utf-8";

/* Betroffene Elemente -------------------------- */
.popup-cont {
	position: relative;
}

input.popup-feld {
	padding-right: 24px;
}

.popup-link-td { /* Popup-Link am Ende einer Tabellenzelle */
	position: absolute;
	top: 3px;
	right: 6px; /* 5px padding, 1px border */
}

.popup-link-element { /* Popup-Link, auf dem ein Element folgt */
	position: relative;
	top: 3px;
	left: -25px; /* 1px border */
}

.popup-link-element ~ * {
	position: relative;
	left: -24px; /* der Link ist 24px breit */
}

.popup-link-td,
.popup-link-element {
	-webkit-mask-image: url(../../img/popup.svg);
	mask-image: url(../../img/popup.svg);
	background-color: var(--textExtremHell);
}

.popup-link-td:hover,
.popup-link-element:hover {
	background-color: var(--text);
}

/* Popup-Fensterchen ---------------------------- */
#popup {
	position: absolute;
	z-index: 1; /* sonst überdeckt es nicht die relativ positionierten Tabellenzellen */
	box-shadow: var(--boxShadow);
	border: 1px solid var(--linie);
	border-radius: 3px;
	max-height: 200px; /* Höhe pro <span> = 25px, -1px für border-bottom */
	overflow-y: auto;
	background-color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-indent: 0; /* nötig wegen des Popups im Optionen-Fenster */
}

#popup span {
	display: block;
	border-bottom: 1px solid var(--linie);
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

#popup span:last-child {
	border-bottom: none;
}

#popup span:hover {
	background-color: var(--highlight);
}

#popup span.aktiv {
	background-color: var(--highlight);
}

#popup span.keine-vorschlaege {
	color: var(--textSehrHell);
	font-style: italic;
	cursor: default;
}

#popup span.keine-vorschlaege:hover {
	background-color: transparent;
}
