@charset "utf-8";

/* Startsektion --------------------------------- */
#start {
	padding: 0 25px 20px 25px;
	text-align: center;
}

/* Buttons -------------------------------------- */
#start > span {
	display: inline-block;
	margin: 65px 25px 0 0;
	border-radius: 3px;
	padding: 2px 0 2px 40px;
	width: 165px;
	background: var(--farbeB) url(../../img/dokument-plus-weiss-32.svg) no-repeat 4px center;
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	text-align: left;
}

#start > span + span {
	margin-right: 0;
	background-image: url(../../img/oeffnen-weiss-32.svg);
}

/* List der zuletzt verwendeten Karteien -------- */
#start-zuletzt {
	margin-top: 75px;
	text-align: left;
}

.icon-h-zuletzt {
	-webkit-mask-image: url(../../img/uhr.svg);
	mask-image: url(../../img/uhr.svg);
}

#start-liste {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

#start-liste li {
	position: relative;
	border-bottom: 1px solid var(--linie);
	padding: 0 10px;
	overflow: hidden;
	line-height: 36px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#start-liste li:hover {
	background-color: var(--hover);
}

#start-liste span:first-child {
	color: var(--textFarbe);
	font-size: 20px;
}

#start-liste span + span {
	margin-left: 15px;
	font-size: 12px;
}

#start-liste img {
	position: absolute;
	top: 0;
	left: 0;
}
